<meta charset="utf-8">

{% include seo.html %}

<link href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ '/feed.xml' | relative_url }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ site.title }} Feed">

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="referrer" content="strict-origin" />

<script>
  document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';
</script>

{% if head.scripts %}
  {% for x in head.scripts %}
    {% if x contains "://" %}
      {% capture script_path %}{{ x }}{% endcapture %}
    {% else %}
      {% capture script_path %}{{ x | relative_url }}{% endcapture %}
    {% endif %}
    <script src="{{ script_path }}" crossorigin='anonymous'></script>
  {% endfor %}
{% endif %}

{% if head.modules %}
  {% for x in head.modules %}
    {% if x contains "://" %}
      {% capture script_path %}{{ x }}{% endcapture %}
    {% else %}
      {% capture script_path %}{{ x | relative_url }}{% endcapture %}
    {% endif %}
    <script type="module" src="{{ script_path }}" crossorigin='anonymous'></script>
  {% endfor %}
{% endif %}


<link rel="stylesheet" href="{{ stylesheet | default: '/assets/css/main.css' | relative_url }}">
{% if head.stylesheets %}
  {% for x in head.stylesheets %}
    {% if x contains "://" %}
      {% capture stylesheet_path %}{{ x }}{% endcapture %}
    {% else %}
      {% capture stylesheet_path %}{{ x | relative_url }}{% endcapture %}
    {% endif %}
    <link rel="stylesheet" href="{{ stylesheet_path }}">
  {% endfor %}
{% endif %}

{% if site.head_scripts %}
  {% for script in site.head_scripts %}
    {% if script contains "://" %}
      {% capture script_path %}{{ script }}{% endcapture %}
    {% else %}
      {% capture script_path %}{{ script | relative_url }}{% endcapture %}
    {% endif %}
    <script src="{{ script_path }}"></script>
  {% endfor %}
{% endif %}

