<meta charset="utf-8">
{% if head.redirect %}
<meta http-equiv="refresh" content="0; url={{ head.redirect }}" />
{% endif %}


{% include seo.html %}

<link href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ '/feed.xml' | url }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ site.title }} Feed">

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="referrer" content="strict-origin" />

{% comment %}
{% Workaround for https://bugs.chromium.org/p/chromium/issues/detail?id=39402 %}
{% Replace if an actual favicon file is available %}
{% endcomment %}
<link rel="icon" href="data:," />

<script>
  document.documentElement.classList.remove("no-js");
  document.documentElement.classList.add("js");
</script>

{% if head.moduleMap %}
<script>
  {{ head.moduleMap }}
</script>
{% endif %}


{% if head.scripts %}
  {% for x in head.scripts %}
    {% if x contains "://" %}
      {% capture script_path %}{{ x }}{% endcapture %}
    {% else %}
      {% capture script_path %}{{ x | url }}{% endcapture %}
    {% endif %}
    <script defer src="{{ script_path }}" crossorigin="anonymous"></script>
  {% endfor %}
{% endif %}

{% if head.modules %}
  {% for x in head.modules %}
    {% if x contains "://" %}
      {% capture script_path %}{{ x }}{% endcapture %}
    {% else %}
      {% capture script_path %}{{ x | url }}{% endcapture %}
    {% endif %}
    <script defer type="module" src="{{ script_path }}" crossorigin="anonymous"></script>
  {% endfor %}
{% endif %}


<link rel="stylesheet" href="{{ stylesheet | default: '/assets/css/main.css' | url }}" crossorigin>
{% if head.stylesheets %}
  {% for x in head.stylesheets %}
    {% if x contains "://" %}
      {% capture stylesheet_path %}{{ x }}{% endcapture %}
    {% else %}
      {% capture stylesheet_path %}{{ x | url }}{% endcapture %}
    {% endif %}
    <link rel="stylesheet" href="{{ stylesheet_path }}" crossorigin>
  {% endfor %}
{% endif %}


{% if head.preloadMathliveFonts %}
<link rel="preload" as="font" crossorigin
  href="https://unpkg.com/mathlive/dist/fonts/KaTeX_AMS-Regular.woff2"/>
<link rel="preload" as="font" crossorigin
  href="https://unpkg.com/mathlive/dist/fonts/KaTeX_Caligraphic-Bold.woff2"/>
<link rel="preload" as="font" crossorigin
  href="https://unpkg.com/mathlive/dist/fonts/KaTeX_Caligraphic-Regular.woff2" />
<link rel="preload" as="font" crossorigin
  href="https://unpkg.com/mathlive/dist/fonts/KaTeX_Fraktur-Bold.woff2"/>
<link rel="preload" as="font" crossorigin
  href="https://unpkg.com/mathlive/dist/fonts/KaTeX_Fraktur-Regular.woff2"/>
<link rel="preload" as="font" crossorigin
  href="https://unpkg.com/mathlive/dist/fonts/KaTeX_Main-BoldItalic.woff2"/>
<link rel="preload" as="font" crossorigin
  href="https://unpkg.com/mathlive/dist/fonts/KaTeX_Main-Bold.woff2"/>
<link rel="preload" as="font" crossorigin
  href="https://unpkg.com/mathlive/dist/fonts/KaTeX_Main-Italic.woff2"/>
<link rel="preload" as="font" crossorigin
  href="https://unpkg.com/mathlive/dist/fonts/KaTeX_Main-Regular.woff2"/>
<link rel="preload" as="font" crossorigin
  href="https://unpkg.com/mathlive/dist/fonts/KaTeX_Math-BoldItalic.woff2"/>
<link rel="preload" as="font" crossorigin
  href="https://unpkg.com/mathlive/dist/fonts/KaTeX_Math-Italic.woff2"/>
<link rel="preload" as="font" crossorigin
  href="https://unpkg.com/mathlive/dist/fonts/KaTeX_SansSerif-Bold.woff2"/>
<link rel="preload" as="font" crossorigin
  href="https://unpkg.com/mathlive/dist/fonts/KaTeX_SansSerif-Italic.woff2"/>
<link rel="preload" as="font" crossorigin
  href="https://unpkg.com/mathlive/dist/fonts/KaTeX_SansSerif-Regular.woff2"/>
<link rel="preload" as="font" crossorigin
  href="https://unpkg.com/mathlive/dist/fonts/KaTeX_Script-Regular.woff2"/>
<link rel="preload" as="font" crossorigin
  href="https://unpkg.com/mathlive/dist/fonts/KaTeX_Size1-Regular.woff2"/>
<link rel="preload" as="font" crossorigin
  href="https://unpkg.com/mathlive/dist/fonts/KaTeX_Size2-Regular.woff2"/>
<link rel="preload" as="font" crossorigin
  href="https://unpkg.com/mathlive/dist/fonts/KaTeX_Size3-Regular.woff2"/>
<link rel="preload" as="font" crossorigin
  href="https://unpkg.com/mathlive/dist/fonts/KaTeX_Size4-Regular.woff2"/>
<link rel="preload" as="font" crossorigin
  href="https://unpkg.com/mathlive/dist/fonts/KaTeX_Typewriter-Regular.woff2"/>
<link rel="stylesheet" href="https://unpkg.com/mathlive/dist/mathlive-fonts.css" />
{% endif %}


{% if site.head_scripts %}
  {% for script in site.head_scripts %}
    {% if script contains "://" %}
      {% capture script_path %}{{ script }}{% endcapture %}
    {% else %}
      {% capture script_path %}{{ script | url }}{% endcapture %}
    {% endif %}
    <script defer src="{{ script_path }}"></script>
  {% endfor %}
{% endif %}

