/* ==========================================================================
   BASE ELEMENTS
   ========================================================================== */

html {
  /* sticky footer fix */
  position: relative;
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  color: var(--text-color);
  font-family: var(--body-font-family);
  font-feature-settings: var(--body-font-settings);
  line-height: 1.5;

  &.overflow--hidden {
    /* when primary navigation is visible, the content in the background won't scroll */
    overflow: hidden;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 2em 0 0.5em;
  line-height: 1.2;
  font-family: var(--display-font-family);
  font-feature-settings: var(--display-font-settings);
  font-weight: bold;
}

h1 {
  margin-top: 0.5em;
  font-size: 3rem;
  line-height: .95;
  letter-spacing: -3px;
}

@include breakpoint($small) {
  h1 {
    font-size: 5rem;
  }

}

h2 {
  font-size: $type-size-2;
}

h3 {
  font-size: $type-size-3;
}

h4 {
  font-size: $type-size-4;
}

h5 {
  font-size: $type-size-5;
}

h6 {
  font-size: $type-size-6;
}

small,
.small {
  font-size: $type-size-6;
}

p {
  margin-bottom: 1.3em;
}

u,
ins {
  text-decoration: none;
  border-bottom: 1px solid var(--text-color);
  a {
    color: inherit;
  }
}

del a {
  color: inherit;
}

/* reduce orphans and widows when printing */

p,
pre,
blockquote,
ul,
ol,
dl,
figure,
table,
fieldset {
  orphans: 3;
  widows: 3;
}

ol li::marker {
  font-weight: 900;
}

ul li {
  list-style-type: square;
}

/* abbreviations */

abbr[title],
abbr[data-original-title] {
  text-decoration: none;
  cursor: help;
  border-bottom: 1px dotted var(--text-color);
}

/* blockquotes */

blockquote {
  margin: 2em 1em 2em 0;
  padding-left: 1em;
  padding-right: 1em;
  font-style: italic;
  border-left: 0.25em solid var(--primary-color);

  cite {
    font-style: italic;

    &:before {
      content: "\2014";
      padding-right: 5px;
    }
  }
}

/* links */

a {
  &:focus {
    @extend %tab-focus;
  }

  &:visited {
    color: var(--link-color-visited);
  }

  &:hover {
    color: var(--link-color-hover);
    outline: 0;
  }
}

/* buttons */

button:focus {
  @extend %tab-focus;
}

/* code */

tt,
code,
kbd,
samp,
pre {
  font-family: var(--monospace-font-family);
}

section pre {
  position: relative;
  overflow: auto hidden;
  background: var(--console-background);
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.3) 0%, transparent 50%, rgba(0, 0, 0, 0.4) 100%);

  color: var(--console-color);
  text-shadow: 0 0 5px #C8C8C870;
  box-shadow: inset 1px 1px 15px #000;
  border-radius: 8px;
  border: 1px solid #000;

  font-size: 1.1rem;
  line-height: 1.4;
  user-select: all;
  code {
    border-radius: 8px;
  }
}

code::selection, code *::selection {
  color:  var(--semantic-orange) !important;
  background: var(--semantic-blue, #0066ce) !important;
}


section pre::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: repeating-linear-gradient(
    0deg,
    rgba(black, 0.10),
    rgba(black, 0.10) 1px,
    transparent 1px,
    transparent 2px
  );
}



kbd {
  padding: 2px 5px 2px;
  margin-left: 2px;
  margin-right: 2px;
  border: var(--code-border);
  border-radius: $border-radius;
  background: var(--code-background);
  font-size: 0.8em;
}


element.style {
  border-radius: 0 8px 8px 0;
  border-left: 3px solid var(--teal-800);
  background: var(--teal-50);
  padding-top: .5em;
  padding-bottom: 0.5em;
  padding-left: .5em;
  color: var(--blue-800);
}

.page__content p.signature {
  margin: -8px;
  padding: 8px 0 8px 8px;

  border-radius: 0;

  font-family: var(--monospace-font-family);
  font-weight: 900;
  font-size: $type-size-4;
  background: var(--blue-600);
  color: var(--blue-100);
  strong {
    color: #fff;
  }
  i, em {
    opacity: 0.8;
  }
}

.page__content p.signature:first-of-type {
  border-radius: 16px 16px 0 0;
}

:not(.signature) + p.signature {
  margin-top: 2em;
}


// .page__content p.signature:not(:first-of-type) {
// }



div.defs .def {
  clear: both;
  border-radius: 16px;
  background: var(--card-background);
  border: 1px solid var(--callout-border-color);
  padding: 8px;
  margin-bottom: 4em;
  .ML__mathlive {
    font-size: $type-size-4;
  }
}

.page__content .def p.signature + p:not(.signature) {
  margin-top: 1.3em;
}


div.latex {
  margin-top: 1em;
  margin-bottom: 1em;
  border-left: 3px solid var(--blue-200);
  background: var(--blue-50);
  padding: .5em;
  color: black;
  border-radius: 0 8px 8px 0;
  overflow: hidden;
  .source {
    font-family: var(--monospace-font-family);
    color: var(--blue-900);
    font-size: 1.1rem;
    line-height: 1.4;
  }
  .display {
    padding-top: .5em;
    padding-bottom: .5em;
    .ML__mathlive {
      font-size: $type-size-4;
    }
  }
}

pre {
  overflow-x: auto; /* add scrollbars to wide code blocks*/
}

p > code,
a > code,
li > code,
figcaption > code,
td > code {
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 0.8em;
  border: var(--code-border);
  background: var(--code-background);
  border-radius: $border-radius;
  color: var(--primary-color-dark);
  font-weight: 900;

  &:before,
  &:after {
    letter-spacing: -0.2em;
    content: "\00a0"; /* non-breaking space*/
  }
}

@media (prefers-color-scheme: dark) {
  // Inset border of the "console" box
  section pre {
    box-shadow: inset 1px 1px 15px rgba(0, 0, 0, .2)
  }

  p > code,
  a > code,
  li > code,
  figcaption > code,
  td > code {
    color: var(--blue-100);
  }

  div.latex {
    background: #1f345b;
    border-color: var(--blue-900);
    color: var(--base-06);
    .source {
      color: var(--blue-100);
    }
   }

}

/* horizontal rule */

hr {
  display: block;
  margin: 1em 0;
  border: 0;
  border-top: 1px solid var(--border-color);
  width: 100%;
}

/* lists */

ul li,
ol li {
  margin-bottom: 0.5em;
}

li ul,
li ol {
  margin-top: 0.5em;
}

/*
   Media and embeds
   ========================================================================== */

/* Figures and images */

figure {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 2em 0;

  img,
  iframe,
  .fluid-width-video-wrapper {
    margin-bottom: 1em;
  }

  img {
    width: 100%;
    border-radius: $border-radius;
    transition: $global-transition;
  }

  > a {
    display: block;
  }

  &.half {
    > a,
    > img {
      @include breakpoint($small) {
        width: calc(50% - 0.5em);
      }
    }

    figcaption {
      width: 100%;
    }
  }

  &.third {
    > a,
    > img {
      @include breakpoint($small) {
        width: calc(33.3333% - 0.5em);
      }
    }

    figcaption {
      width: 100%;
    }
  }
}

/* Figure captions */

figcaption {
  margin-bottom: 0.5em;
  color: var(--muted-text-color);
  font-family: $caption-font-family;
  font-size: $type-size-6;

  a {
    transition: $global-transition;

    &:hover {
      color: var(--link-color-hover);
    }
  }
}

/* Fix IE9 SVG bug */

svg:not(:root) {
  overflow: hidden;
}

/*
   Navigation lists
   ========================================================================== */

/**
 * Removes margins, padding, and bullet points from navigation lists
 *
 * Example usage:
 * <nav>
 *    <ul>
 *      <li><a href="#link-1">Link 1</a></li>
 *      <li><a href="#link-2">Link 2</a></li>
 *      <li><a href="#link-3">Link 3</a></li>
 *    </ul>
 *  </nav>
 */

nav {
  ul {
    margin: 0;
    padding: 0;
  }

  li {
    list-style: none;
  }

  a {
    text-decoration: none;
  }

  /* override white-space for nested lists */
  ul li,
  ol li {
    margin-bottom: 0;
  }

  li ul,
  li ol {
    margin-top: 0;
  }
}

/*
   Global animation transition
   ========================================================================== */

b,
i,
strong,
em,
blockquote,
p,
q,
span,
figure,
img,
h1,
h2,
header,
input,
a,
tr,
td,
form button,
input[type="submit"],
.btn,
.highlight,
.archive__item-teaser {
  transition: $global-transition;
}
