/* ==========================================================================
   FOOTER
   ========================================================================== */

.page__footer {
  @include clearfix;

  display: flex;
  justify-content: space-between;

  margin-left: 0;
  margin-right: 0;
  margin-top: 2em;
  padding: 1em 1em 1em 1em;
  
  width: 100%;
  max-width: 100%;

  color: $dark-gray;
  background-color: $footer-background-color;

  // animation: $intro-transition;
  // animation-delay: 0.45s;

  @include breakpoint($large) {
    padding-left: calc((100% - #{$max-width}) / 2);
    padding-right: calc((100% - #{$max-width}) / 2);
  }

  a {
    color: inherit;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.page__footer-copyright {
  font-family: var(--body-font-family);
  font-size: $type-size-7;
}

.page__footer-follow, .page__footer-pages {
  width: 50%;
  display: flex;
  ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  li {
    display: flex;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: var(--display-font-family);
    font-size: 1rem;
    text-transform: uppercase;
  }

  li + li:before {
    content: "";
    padding-right: 1em;
  }

  a:not(:last-child) {
    padding-right: 1.5em;
  }

  a {
    font-weight: bold;
  }

  .social-icons {
    a {
      svg {
        margin-right: .5em;
      }
      white-space: nowrap;
    }
  }
}

.page__footer-pages {
  justify-content: flex-end;
}
