/* ==========================================================================
   MASTHEAD
   ========================================================================== */

.masthead {
  position: relative;
  border-bottom: 1px solid $border-color;
  animation: $intro-transition;
  animation-delay: 0.15s;
  z-index: 20;

  &__inner-wrap {
    @include clearfix;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    font-family: $display-font;

    @include breakpoint($large) {
      max-width: $max-width;
    }

    nav {
      z-index: 10;
    }

    a {
      text-decoration: none;
    }
  }
}

.site-logo img {
  max-height: 2rem;
}

.greedy-nav a.site-title {
  display: flex;
  align-self: center;
  align-items: center;
  min-height: 30px;
  font-weight: bold;
  z-index: 20;
  border-radius: 5px;
  padding-left: 1em;
  padding-right: 1em;
}

.site-title:hover {
  background: #eee;
}

.site-subtitle {
  display: block;
  font-size: $type-size-8;
}

/* Narrow layout */
.masthead__menu {
  float: left;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  clear: both;
  position: relative;

  #site-nav {
    display: flex;
    align-items: center;
    margin-left: 0;

    input {
      display: none;
    }
    ul {
      display: none;
      position: absolute;
      margin: 0;
      padding: 0;
      clear: both;
      list-style-type: none;
    }
    & input:checked ~ .visible-links {
      display: block;
      top: 42px;
      background: white;
      width: 100%;
      border: 1px solid #ddd;          
      border-radius:4px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, .3);
    }
  }
}

/* Wide layout */
@include breakpoint($small) {
  #site-toc {
    display: none;
  }
  label[for='site-toc'] {
    display: none;
  }
  .masthead__menu {
    float: left;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    clear: both;

    #site-nav {
      background: transparent;
      float: left;
      margin-left: 0;
      margin-right: 0;
      width: 100%;
      clear: both;

      ul {
        display: inherit;
        position: relative;
        margin: 0;
        padding: 0;
        clear: both;
        list-style-type: none;
      }
      &:hover {
        ul {
          display: inherit;
          top: auto;
        }
      }
    }
  }
}





.masthead__menu-item {
  display: block;
  list-style-type: none;
  white-space: nowrap;

  &--lg {
    padding-right: 2em;
    font-weight: 700;
  }
}
