/* ==========================================================================
   NAVIGATION
   ========================================================================== */

/*
   Breadcrumb navigation links
   ========================================================================== */

// .breadcrumbs {
//     @include clearfix;
//     margin: 0 auto;
//     max-width: 100%;
//     padding-left: 1em;
//     padding-right: 1em;
//     font-family: var(--ui-font-family);
//     // animation: $intro-transition;
//     animation-delay: 0.3s;

//     @include breakpoint($max-width) {
//         max-width: $max-width;
//     }

//     ol {
//         padding: 0;
//         list-style: none;
//         font-size: $type-size-5;

//         @include breakpoint($large) {
//             float: right;
//             width: calc(100% - #{$right-sidebar-width-narrow});
//         }

//         // @include breakpoint($x-large) {
//         //   width: calc(100% - #{$right-sidebar-width});
//         // }
//     }

//     li {
//         display: inline;
//     }

//     .current {
//         font-weight: bold;
//     }
// }

/*
     Post pagination navigation links
     ========================================================================== */

// .pagination {
//     @include clearfix();
//     float: left;
//     margin-top: 1em;
//     padding-top: 1em;
//     width: 100%;

//     ul {
//         margin: 0;
//         padding: 0;
//         list-style-type: none;
//         font-family: var(--ui-font-family);
//       }
      
//     li {
//         display: block;
//         float: left;
//         margin-left: -1px;

//         a {
//             display: block;
//             margin-bottom: 0.25em;
//             padding: 0.5em 1em;
//             font-family: var(--ui-font-family);
//             font-size: 14px;
//             font-weight: bold;
//             line-height: 1.5;
//             text-align: center;
//             text-decoration: none;
//             color: $muted-text-color;
//             border: 1px solid mix(#000, $border-color, 25%);
//             border-radius: 0;

//             &:hover {
//                 color: var(--link-color-hover);
//             }

//             &.current,
//             &.current.disabled {
//                 color: #fff;
//                 background: var(--primary-color);
//             }

//             &.disabled {
//                 color: rgba($muted-text-color, 0.5);
//                 pointer-events: none;
//                 cursor: not-allowed;
//             }
//         }

//         &:first-child {
//             margin-left: 0;

//             a {
//                 border-top-left-radius: $border-radius;
//                 border-bottom-left-radius: $border-radius;
//             }
//         }

//         &:last-child {
//             a {
//                 border-top-right-radius: $border-radius;
//                 border-bottom-right-radius: $border-radius;
//             }
//         }
//     }

//     /* next/previous buttons */
//     &--pager {
//         display: block;
//         padding: 1em 2em;
//         float: left;
//         width: 50%;
//         font-family: var(--ui-font-family);
//         font-size: $type-size-5;
//         font-weight: bold;
//         text-align: center;
//         text-decoration: none;
//         color: $muted-text-color;
//         border: 1px solid mix(#000, $border-color, 25%);
//         border-radius: $border-radius;

//         &:hover {
//             @include yiq-contrasted($muted-text-color);
//         }

//         &:first-child {
//             border-top-right-radius: 0;
//             border-bottom-right-radius: 0;
//         }

//         &:last-child {
//             margin-left: -1px;
//             border-top-left-radius: 0;
//             border-bottom-left-radius: 0;
//         }

//         &.disabled {
//             color: var(--muted-text-color);
//             pointer-events: none;
//             cursor: not-allowed;
//         }
//     }
// }

// .page__content + .pagination,
// .page__meta + .pagination,
// .page__share + .pagination,
// .page__comments + .pagination {
//     margin-top: 2em;
//     padding-top: 2em;
//     border-top: 1px solid var(--border-color);
// }

/*
     Priority plus navigation
     ========================================================================== */

.greedy-nav {
    position: relative;
    display: flex;
    align-items: center;
    min-height: $nav-height;
    background: transparent;

    a {
        display: block;
        margin: 0 1rem;
        color: var(--masthead-link-color);
        text-decoration: none;

        &:hover {
            color: var(--masthead-link-color-hover);
        }

        &.site-logo {
            margin-left: 0;
            margin-right: 0.5rem;
        }
    }

    &__toggle {
        -ms-flex-item-align: center;
        align-self: center;
        height: $nav-toggle-height;
        border: 0;
        outline: none;
        background-color: transparent;
        cursor: pointer;
    }

    .visible-links {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex: 1;
        overflow: hidden;

        li {
          flex: none;
          border-radius: 5px;
        }
        li:hover {
          background: var(--ui-background-hover);
          color: var(--masthead-link-color-hover);
        }
        li:hover a {
          color: var(--masthead-link-color-hover);
        }
        a {
            position: relative;
            font-size: 1.5rem;

            &:before {
                content: '';
                position: absolute;
                left: 0;
                bottom: 0;
                height: 4px;
                background: var(--primary-color);
                width: 100%;
                transition: $global-transition;
                transform: scaleX(0) translate3d(0, 0, 0); // hide
            }

            &:hover:before {
                transform: scaleX(1); // reveal
            }
        }
    }

    .hidden-links {
        position: absolute;
        top: 100%;
        right: 0;
        margin-top: 15px;
        padding: 5px;
        border: 1px solid var(--border-color);
        border-radius: $border-radius;
        background: transparent;
        box-shadow: 0 2px 4px 0 rgba(#000, 0.16), 0 2px 10px 0 rgba(#000, 0.12);

        &.hidden {
            display: none;
        }

        a {
            margin: 0;
            padding: 10px 20px;
            font-size: $type-size-5;

            &:hover {
                color: var(--masthead-link-color-hover);
                background: $navicon-link-color-hover;
            }
        }

        &:before {
            content: '';
            position: absolute;
            top: -11px;
            right: 10px;
            width: 0;
            border-style: solid;
            border-width: 0 10px 10px;
            border-color: var(--border-color) transparent;
            display: block;
            z-index: 0;
        }

        &:after {
            content: '';
            position: absolute;
            top: -10px;
            right: 10px;
            width: 0;
            border-style: solid;
            border-width: 0 10px 10px;
            border-color: transparent;
            display: block;
            z-index: 1;
        }

        li {
            display: block;
            border-bottom: 1px solid var(--border-color);

            &:last-child {
                border-bottom: none;
            }
        }
    }
}

.no-js {
    .greedy-nav {
        .visible-links {
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            overflow: visible;
        }
    }
}

/*
     Navigation list
     ========================================================================== */

.nav__list {
  width: 100%;
  font-family: var(--ui-font-family);
  font-weight: 600;
  @include breakpoint(max-width $large - 1px) {
    width: auto;
  }
  margin-bottom: 1.5em;

  input[type='checkbox'],
  /* Don't display the label until below the $large breakpoint */
  label {
    display: none;
  }

  @include breakpoint(max-width $large - 1px) {
    label {
      display: flex;
      align-items: center;

      padding: 1em;

      font-family: var(--ui-font-family);
      font-weight: 700;
      color: var(--text-color);
      border: var(--ui-border);
      background: var(--ui-background);
      border-radius: 8px;
      line-height: .9;
      z-index: 20;
      cursor: pointer;
      user-select: none;

      transition: transform, border .16s ease-out,-webkit-transform .16s ease-out;

      svg {
        height: 20px;
        width: 20px;
        margin-left: .5em;
      }

      &:hover {
        background-color: var(--primary-color);
        border-color: var(--primary-color-dark);
        color: #fafafa;
        transform: scale(1.05);              
      }
    }

    /* selected*/
    input:checked + label {
        color: white;
        background-color: var(--primary-color);
    }

    a {
        display: block;
        padding: 0.25em 0;
        padding-top: 0.125em;
        padding-bottom: 0.125em;

        &:hover {
            text-decoration: underline;
        }
    }
  }
}

.nav__list .nav__items {
  display: flex;
  flex-flow: column;

  margin: 0;

  .separator {
    border-radius: 0;
    border-top: var(--ui-divider);
    height: .6em;
    margin-top: .6em;
    margin-left: 8px;
    margin-right: 8px;
  }
  a {
    color: inherit;
  }

  .active {
    margin-left: 0;
    margin-right: 0;
  }

  @include breakpoint(max-width $large - 1px) {
    display: none;
    position: relative;
    overflow: hidden;
    z-index: 10;
  }
}


@include breakpoint(max-width $large - 1px) {
  .nav__list input:checked ~ .nav__items {
    display: flex;
    position: absolute;
    max-height: max-content;
    margin-top: 68px; // Height of the circular menu
    top: 0;
    left: 0;
    right: 0;
    background: var(--ui-background);
    border-radius: 8px;
    border: var(--ui-border);
    box-shadow: var(--ui-focus-shadow);
    padding: 1em;
    li {
      font-size: 1.3rem;
      padding: 0 0 .1em 0;
      display: block; // prevent breaking inside multicol
      break-inside: avoid;
      .nav__sub-title {
        font-size: 1.5rem;
        padding-left: 0;
      }
    }
    .nav__section.active ul {
      display: block;
    }
    .nav__section ul {
      display: none;
      column-count: 2;
      column-fill: auto;  
    }
  }
}

@include breakpoint(max-width $small - 1px) {
  .nav__list input:checked {
    margin: 0;
    margin-top: 68px; // Height of the circular menu
    ~ li {
      padding: 0 0 0.25em 0;
    }
    ~ .nav__items .nav__section ul {
      column-count: 1;
    }
  }
}


.nav__title {
    margin: 0;
    padding: 0.5rem 0.75rem;
    font-family: var(--ui-font-family);
    font-size: $type-size-5;
    font-weight: bold;
}

.nav__sub-title {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;

  appearance: none;
  border: none;
  background: transparent;

  border-radius: 5px;

  margin: 0.5rem 0;
  padding: 0.25rem 0;
  padding-left: 6px;
  color: var(--text-color);
  font-family: var(--ui-font-family);
  font-size: $type-size-5;
  line-height: 1;
  letter-spacing: -0.05ex;
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
}



button.nav__sub-title_expand ,
button.nav__sub-title_collapse  {
  float: right;
  font-weight: 900;
  font-family: var(--ui-font-family);
  border-radius: 5px;
  font-size: 20px;
  line-height: .7;

  height: 1.5em;
  min-height: 1.5em;
  width: 1.5em;
  min-width: 1.5em;
  display: flex;
  align-items: center;
  justify-content: space-around;

  cursor: pointer;
  user-select: none;
  color: var(--text-color);
}

span.nav__sub-title_expand ,
span.nav__sub-title_collapse {
  float: right;
  font-weight: 900;
  font-family: var(--ui-font-family);
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  color: var(--text-color);
  user-select: none;
  line-height: .7;

  height: 1.5em;
  min-height: 1.5em;
  width: 1.5em;
  min-width: 1.5em;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

span.nav__sub-title_expand, span.nav__sub-title_collapse,
button.nav__sub-title_expand, button.nav__sub-title_collapse
{
  display: none;
}


.nav__section.active .nav__sub-title_collapse {
  display: flex;
}

.nav__section:not(.active) .nav__sub-title_expand {
  display: flex;
}

button.nav__sub-title_toggle:focus {
  outline: none;
}

button.nav__sub-title_toggle:hover {
  background:var(--ui-background-hover);
  color: var(--primary-color);
}

.nav__section ul {
  display: flex;
  flex-flow: column;
}

.nav__section:not(.active) ul {
  display: none;
}


.sidebar li .nav__sub-title a {
  padding-left: 0;
}

#main a svg.nav__icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  min-width: 1em;
  min-height: 1em;
  margin-right: 6px;
  @include breakpoint(max-width $large - 1px) {
    margin-right: 12px;
  }
    margin-left: 0;
}

.nav__no-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
}

/*
     Table of contents navigation
  ========================================================================== 
*/

/* When the .toc is displayed inside the page (narrow layout) */
.page__content .toc {
  padding-top: 2rem;
}

.toc {
  margin: 0 0 1em 1em;
  width: fit-content;
  // max-width: 50%;
  background-color: var(--ui-background);
  border-radius: $border-radius;
  float: right;

  font-family: var(--ui-font-family);
  font-weight: 600;

  .nav__title {
    color: #fff;
    font-family: var(--body-font-family);
    font-feature-settings: var(--body-font-settings);
    font-size: $type-size-5;
    background: var(--primary-color);
    border: none;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    svg {
      margin-right: .5em;
    }
  }

  li:hover {
    background:  var(--ui-background-hover);
    a:hover {
      text-decoration: none;
    }
  }

  // Scrollspy marks toc items as .active when they are in focus
  .active a {
      @include yiq-contrasted($active-color);
  }
}

// Override the .page__content li styles
.page__content .toc__menu li {
  font-size: $type-size-5;
}

.toc__menu {
  margin: 0;
  padding: 0;
  border: 1px solid var(--primary-color-dark);
  border-top: none;
  width: 100%;
  list-style: none;
  font-size: $type-size-5;

  // @include breakpoint($large) {
  //     font-size: $type-size-7;
  // }

  a {
      display: block;
      padding: 0.25rem 0.75rem;
      // color: $muted-text-color;
      font-weight: 600;
      line-height: 1.5;
      border-bottom: .5px solid var(--border-color);

      &:hover {
          color: var(--text-color);
      }
  }

  li:last-of-type a {
    border-bottom: none;
  }

  ul, ol {
    margin: 0;
    padding: 0;
  }

  li ul > li a, li ol > li a {
      padding-left: 2rem;
      font-weight: normal;
  }

  li ul li ul > li a, li ol li ol > li a {
      padding-left: 3rem;
  }

  li ul li ul li ul > li a, li ol li ol li ol > li a {
      padding-left: 4rem;
  }

  li ul li ul li ul li ul > li a, li ol li ol li ol li ol > li a {
      padding-left: 5rem;
  }

  li ul li ul li ul li ul li ul > li a,
  li ol li ol li ol li ol li ol > li a {
      padding-left: 6rem;
  }
}
