/* ==========================================================================
   SINGLE PAGE/POST
   ========================================================================== */

   #main {
    position: relative;
    display: block;
    @include clearfix;
    padding: 0;
    animation: $intro-transition;
    width: 100%;
    animation-delay: 0.15s;
  
    @include breakpoint($large) {
      padding: 0;
      display: flex;
      justify-content: center;
    }
    @include breakpoint($x-large) {
      padding-left: 1em;
      padding-right: 1em;
      }
  }
  
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .initial-content,
  .search-content {
    display: flex;
    flex: 1 0 auto;
    width: 100%;
    background: var(--page-background, #f5f5f7);
  }
  
  /** `.page` is the main content, does not include `.sidebar` */
  .page {
    display: flex;
    justify-content: center;
    // max-width: 840px;
    width: 100%;
    margin: 0 8px 0 0 ;

    // font-family: var(--monospace-font-family);
    
    // @include breakpoint($large) {
    //   float: right;
    //   width: calc(100% - #{$right-sidebar-width-narrow});
    //   padding-right: $right-sidebar-width-narrow;
    // }
  
    // @include breakpoint($x-large) {
    //   width: calc(100% - #{$right-sidebar-width});
    //   padding-right: $right-sidebar-width;
    // }
  
    .page__inner-wrap {
        float: left;
        margin: 0;
        max-width: 840px;
        width: 100%;
        clear: both;
  
        flex: 1 0 auto;
        display: flex;
        flex-flow: column;
        justify-content: space-between;
  
        .page__meta,
        .page__share {
            position: relative;
            float: left;
            margin-left: 1em;
            margin-right: 1em;
            margin-bottom: 2em;
            clear: both;
        }

        .page__meta > p {
          display: flex;
          align-items: center;
          flex-wrap: wrap;
        }
  
        .page__meta > p svg {
          margin-right: .5em;
        }

        .page__meta > p strong {
          margin-right: .5em;
        }

        .page__content {
          position: relative;
          float: left;
          max-width: 840px;
          min-width: 100%;
          width: 100%;
          @include breakpoint($medium) {
            min-width: 840px;
            width: 840px;  
          }
          clear: both;
  
          background: var(--content-background);
          border-radius: 8px;
          border: .5px solid var(--border-color);
          padding: 8px;
          padding-left: 2rem;
          padding-right: 2rem;
          margin-top: 1rem;
          margin-bottom: 1rem;
          margin-left: 0;
          margin-right: 0;
        }
    }
  }
  
  .page__title {
    margin-top: 0;
    line-height: 1;
  
    & + .page__meta {
        margin-top: -0.5em;
    }
  }
  
  // .page__lead {
  //   font-family: var(--body-font-family);
  //   font-size: $type-size-4;
  // }
  
  .page__content {
      h2 {
          padding-bottom: 0.5em;
          border-bottom: 1px solid var(--border-color);
      }
  
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
          .permalink {
              position: relative;
              left: 0.5em;
              opacity: 0;
              font-size: 0.8em;
              transition: opacity 0.2s ease-in-out 0.1s;
          }
  
          &:hover .permalink {
              opacity: 1;
          }
      }
  
      p,
      li,
      dl {
          font-size: $type-size-4;
          line-height: 1.47059;
      }
  
      /* paragraph indents */
      p {
          margin: 0 0 $indent-var;
  
          /* sibling indentation*/
          @if $paragraph-indent == true {
              & + p {
                  text-indent: $indent-var;
                  margin-top: -($indent-var);
              }
          }
      }
  
      a:not(.btn) {
          &:hover {
              text-decoration: underline;
  
              img {
                  box-shadow: 0 0 10px rgba(#000, 0.25);
              }
          }
      }
  
      dt {
          margin-top: 1em;
          font-family: var(--body-font-family);
          font-weight: bold;
      }
  
      dd {
          margin-left: 1em;
          font-family: var(--body-font-family);
          font-size: $type-size-4;
      }
  
      .small {
          font-size: $type-size-5;
      }
  
      /* blockquote citations */
      blockquote + .small {
          margin-top: -1.5em;
          padding-left: 1.25rem;
      }
  
      picture.full-width, img.full-width {
        display: block;
        max-width: 100vw;
        width: calc(100% + 4em);
        margin-left: -2em;
        margin-right: -2em;
        margin-top: -1em;
      }
  }
  
  // .page__hero {
  //     position: relative;
  //     margin-bottom: 2em;
  //     @include clearfix;
  //     animation: $intro-transition;
  //     animation-delay: 0.25s;
  
  //     &--overlay {
  //         position: relative;
  //         margin-bottom: 2em;
  //         padding: 3em 0;
  //         @include clearfix;
  //         background-size: cover;
  //         background-repeat: no-repeat;
  //         background-position: center;
  //         animation: $intro-transition;
  //         animation-delay: 0.25s;
  
  //         a {
  //             color: #fff;
  //         }
  
  //         .wrapper {
  //             padding-left: 1em;
  //             padding-right: 1em;
  
  //             @include breakpoint($max-width) {
  //                 max-width: $max-width;
  //             }
  //         }
  
  //         .page__title,
  //         .page__meta,
  //         .page__lead,
  //         .btn {
  //             color: #fff;
  //             text-shadow: 1px 1px 4px rgba(#000, 0.5);
  //         }
  
  //         .page__lead {
  //             max-width: $medium;
  //         }
  
  //         .page__title {
  //             font-size: $type-size-2;
  
  //             @include breakpoint($small) {
  //                 font-size: $type-size-1;
  //             }
  //         }
  //     }
  // }
  
  // .page__hero-image {
  //     width: 100%;
  //     height: auto;
  //     -ms-interpolation-mode: bicubic;
  // }
  
  // .page__hero-caption {
  //     position: absolute;
  //     bottom: 0;
  //     right: 0;
  //     margin: 0 auto;
  //     padding: 2px 5px;
  //     color: #fff;
  //     font-family: $caption-font-family;
  //     font-size: $type-size-7;
  //     background: #000;
  //     text-align: right;
  //     z-index: 5;
  //     opacity: 0.5;
  //     border-radius: $border-radius 0 0 0;
  
  //     @include breakpoint($large) {
  //         padding: 5px 10px;
  //     }
  
  //     a {
  //         color: #fff;
  //         text-decoration: none;
  //     }
  // }
  
  /*
     Page meta
     ========================================================================== */
  
  .page__meta {
      margin-top: 2em;
      color: #707070;
      font-family: var(--display-font-family);
      font-size: $type-size-6;
      @media (prefers-color-scheme: dark) {
        color: #d0d0d0;
      }
  
      p {
          margin: 0;
      }
  
      a {
          color: inherit;
      }
  }
  
  .page__meta-title {
      margin-bottom: 10px;
      font-size: $type-size-6;
      text-transform: uppercase;
  }
  
  .page__meta-link {
    margin-bottom: 10px;
    font-size: $type-size-6;
  }
  
  /*
     Page taxonomy
     ========================================================================== */
  
  // .page__taxonomy {
  //     .sep {
  //         display: none;
  //     }
  
  //     strong {
  //         margin-right: 10px;
  //     }
  // }
  
  // .page__taxonomy-item {
  //     display: inline-block;
  //     margin-right: 5px;
  //     margin-bottom: 8px;
  //     padding: 5px 10px;
  //     text-decoration: none;
  //     border: 1px solid mix(#000, $border-color, 25%);
  //     border-radius: $border-radius;
  
  //     &:hover {
  //         text-decoration: none;
  //         color: var(--link-color-hover);
  //     }
  // }
  
  // .taxonomy__section {
  //     margin-bottom: 2em;
  //     padding-bottom: 1em;
  
  //     &:not(:last-child) {
  //         border-bottom: solid 1px $border-color;
  //     }
  
  //     .archive__item-title {
  //         margin-top: 0;
  //     }
  
  //     .archive__subtitle {
  //         clear: both;
  //         border: 0;
  //     }
  
  //     + .taxonomy__section {
  //         margin-top: 2em;
  //     }
  // }
  
  // .taxonomy__title {
  //     margin-bottom: 0.5em;
  //     color: lighten($text-color, 60%);
  // }
  
  // .taxonomy__count {
  //     color: lighten($text-color, 50%);
  // }
  
  // .taxonomy__index {
  //     display: grid;
  //     grid-column-gap: 2em;
  //     grid-template-columns: repeat(2, 1fr);
  //     margin: 1.414em 0;
  //     padding: 0;
  //     font-size: 0.75em;
  //     list-style: none;
  
  //     @include breakpoint($large) {
  //         grid-template-columns: repeat(3, 1fr);
  //     }
  
  //     a {
  //         display: flex;
  //         padding: 0.25em 0;
  //         justify-content: space-between;
  //         color: inherit;
  //         text-decoration: none;
  //         border-bottom: 1px solid $border-color;
  //     }
  // }
  
  // .back-to-top {
  //     display: block;
  //     clear: both;
  //     color: lighten($text-color, 50%);
  //     font-size: 0.6em;
  //     text-transform: uppercase;
  //     text-align: right;
  //     text-decoration: none;
  // }
  
  /*
     Wide Pages
     ========================================================================== */
  
  .wide {
      .page {
          @include breakpoint($large) {
              padding-right: 0;
          }
  
          // @include breakpoint($x-large) {
          //   padding-right: 0;
          // }
      }
  
      .page__related {
          @include breakpoint($large) {
              padding-right: 0;
          }
  
          // @include breakpoint($x-large) {
          //   padding-right: 0;
          // }
      }
  }
  