/* ==========================================================================
   SIDEBAR
   ========================================================================== */

/*
   Default
   ========================================================================== */

.sidebar {
  display: flex;
  justify-content: center;
  padding-left: 4px;
  padding-right: 0;

  /** When displayed as a menu (width < $large) take the whole width */
  width: 100%;

  @include clearfix();
  @include breakpoint(max-width $medium) {
    /* fix z-index order of follow links */
    position: relative;
    z-index: 10;
    transform: translate3d(0, 0, 0);
  }

  @include breakpoint($large) {
    // if >1200px...
    float: left;
    // width: calc(#{$left-sidebar-width-wide} - 1em);
    margin-right: 0.5em;
    max-width: 344px;

    &.sticky {
      overflow-y: auto;
      /* calculate height of nav list
              viewport height - nav height - masthead x-padding
            */
      height: calc(100vh - #{$nav-height});
    }
  }

  > * {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 0;
    font-family: var(--display-font-family);
    font-feature-settings: var(--display-font-settings);
  }

  p,
  li {
    font-size: $type-size-5;
    line-height: 1;
    // padding: 8px 4px 8px 8px;
    // padding-right: 8px;
    border-radius: 4px;

    a {
      display: flex;
      align-items: center;
      border-radius: 4px;
      padding: 10px 4px 10px 8px;

      &:hover {
        background: var(--ui-background-hover);
      }
      &.active {
        color: white !important;
        background: var(--primary-color);
      }
    }
  }

  img {
    width: 100%;

    &.emoji {
      width: 20px;
      height: 20px;
    }
  }
}

#main .sidebar a:not(.section-link):hover {
  text-decoration: none;
}

// .sidebar ul:not(.nav__items) li:hover {
//     background: rgba(0, 0, 0, 0.05);
// }

.sidebar ul:not(.nav__items) li.separator:hover {
  background: none;
}

.sidebar__right {
  display: none;
}

@include breakpoint($x-large) {
  .page__content .toc {
      display: none;
  }

  .sidebar__right {
    .toc {
      float: left;
      max-width: 100%;
    }

    display: block;
    @include clearfix();
    position: sticky;
    top: 1rem;
    margin-top: 1rem;

    overflow-y: auto;
    min-width: fit-content;
    height: calc(100vh - 1rem);
    }  
}

.splash .sidebar__right {
  @include breakpoint($large) {
    position: relative;
    float: right;
    margin-right: 0;
  }

  // @include breakpoint($x-large) {
  //   margin-right: 0;
  // }
}

/*
   Wide Pages
   ========================================================================== */

.wide .sidebar__right {
  margin-bottom: 1em;

  @include breakpoint($large) {
    position: initial;
    top: initial;
    right: initial;
    width: initial;
    margin-right: initial;
    padding-left: initial;
    z-index: initial;

    &.sticky {
      float: none;
    }
  }

  // @include breakpoint($x-large) {
  //   width: initial;
  //   margin-right: initial;
  // }
}
