/* ==========================================================================
   SIDEBAR
   ========================================================================== */

/*
   Default
   ========================================================================== */

.sidebar {
    display: flex;
    justify-content: center;
    padding-left: 8px;
    padding-right: 0;

    /** When displayed as a menu (width < $large) take the whole width */
    width: 100%;

    @include clearfix();
    @include breakpoint(max-width $medium) {
        /* fix z-index order of follow links */
        position: relative;
        z-index: 10;
        transform: translate3d(0, 0, 0);
    }


    @include breakpoint($large) {
        // if >1200px...
        float: left;
        // width: calc(#{$left-sidebar-width-wide} - 1em);
        margin-right: .5em;

        &.sticky {
            overflow-y: auto;
            /* calculate height of nav list
              viewport height - nav height - masthead x-padding
            */
            height: calc(100vh - #{$nav-height} - 2em);
        }
    }


    > * {
        margin-top: 1em;
        margin-bottom: 1em;
    }

    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-bottom: 0;
        font-family: var(--display-font);
    }

    p,
    li {
        font-size: $type-size-5;
        line-height: 1;
        // padding: 8px 4px 8px 8px;
        padding-right: 8px;
        border-radius: 4px;

        a {
            display: flex;
            border-radius: 4px;
            padding: 8px 4px 8px 8px;
          
            &:hover {
              background: var(--ui-background-hover);
            }
            &.active {
              color: white !important;
              background: var(--primary-color);
            }
          }
    }

    img {
        width: 100%;

        &.emoji {
            width: 20px;
            height: 20px;
        }
    }
}


#main .sidebar a:not(.section-link):hover {
  text-decoration: none;

}

// .sidebar ul:not(.nav__items) li:hover {
//     background: rgba(0, 0, 0, 0.05);
// }

.sidebar ul:not(.nav__items) li.separator:hover {
  background: none;
}

.sidebar__right {
    margin-bottom: 1em;

    @include breakpoint($large) {
        position: absolute;
        top: 0;
        right: 0;
        width: $right-sidebar-width-narrow;
        margin-right: -1 * $right-sidebar-width-narrow;
        padding-left: 1em;
        z-index: 10;

        &.sticky {
            @include clearfix();
            position: sticky;
            top: 2em;
            float: right;
        }
    }

    // @include breakpoint($x-large) {
    //   width: $right-sidebar-width;
    //   margin-right: -1 * $right-sidebar-width;
    // }
}

.splash .sidebar__right {
    @include breakpoint($large) {
        position: relative;
        float: right;
        margin-right: 0;
    }

    // @include breakpoint($x-large) {
    //   margin-right: 0;
    // }
}

/*
   Wide Pages
   ========================================================================== */

.wide .sidebar__right {
    margin-bottom: 1em;

    @include breakpoint($large) {
        position: initial;
        top: initial;
        right: initial;
        width: initial;
        margin-right: initial;
        padding-left: initial;
        z-index: initial;

        &.sticky {
            float: none;
        }
    }

    // @include breakpoint($x-large) {
    //   width: initial;
    //   margin-right: initial;
    // }
}
