/* ==========================================================================
   TABLES
   ========================================================================== */


table {
  table-layout: auto;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3em;
  word-wrap: normal;
  // table-layout: fixed;
  table-layout: auto;
  display: table;
  overflow: hidden;
  overflow-x: auto;
  border-collapse: collapse;
  border-spacing: 0;
  line-height: 1.47059;
  font-family: var(--body-font-family);
  font-feature-settings: var(--body-font-settings);
  font-size: $type-size-4;

  & + table {
    margin-top: 1em;
  }

  thead {
    tr {
      border-bottom: 1px solid var(--table-thick-line-color);
      th {
        font-weight: 600;
        padding: 3px 1em 3px 0;
        vertical-align: bottom;
        text-align: left;
        line-height: 1.1;
      }
    }
  }
  
  tr {
    border-bottom: 1px solid var(--table-thin-line-color);
    
    td:first-child { 
      // Insane trick to make sure the column is no wider than it needs to.
      width: 1ch;
      white-space: nowrap;  
      text-wrap: pretty;
    }

    td {
      line-height: 1.5em;
      padding: .5em 1em .5em 0;
      vertical-align: top;
      width: fit-content;
    }

    td:last-child {
      width: max-content;
    }
  }
}



.page__content table p {
  margin: 0;
}

.page__content table.defs p {
  margin: 0 0 1.3em 0;
}