/* ==========================================================================
   TABLES
   ========================================================================== */


table {
  width: 100%;
  margin-bottom: 3em;
  word-wrap: normal;
  // table-layout: fixed;
  table-layout: auto;
  display: table;
  overflow: hidden;
  overflow-x: auto;
  border-collapse: collapse;
  border-spacing: 0;
  line-height: 1.47059;
  font-family: $global-font-family;
  font-size: $type-size-5;

  & + table {
    margin-top: 1em;
  }

  thead {
    tr {
      border-bottom: 1px solid #333;
      th {
        font-weight: 600;
        // color: #333;
        padding: 3px 1em 3px 0;
        vertical-align: bottom;
        text-align: left;
      }
    }
  }
  
  tr {
    border-bottom: 1px solid mix(#fff, $border-color, 25%);
    
    td:first-child { 
      // Insane trick to make sure the column is no wider than it needs to.
      width: 1ex;
      white-space: nowrap;  
    }

    td {
      line-height: 1.5em;
      padding: .5em 1em .5em 0;
      vertical-align: top;
    }
  }
}

.page__content table p {
  margin: 0;
}