[submodule "submodules/cortex-js.github.io"]
	path = submodules/cortex-js.github.io
	url = https://github.com/cortex-js/cortex-js.github.io
	branch = master
[submodule "submodules/code-playground"]
	path = submodules/code-playground
	url = https://github.com/ui-js/code-playground.git
	branch = master
[submodule "submodules/compute-engine"]
	path = submodules/compute-engine
	url = https://github.com/cortex-js/compute-engine
	branch = main