[submodule "submodules/cortex-js.github.io"]
	path = submodules/cortex-js.github.io
	url = https://github.com/cortex-js/cortex-js.github.io
	branch = master
[submodule "submodules/grok"]
	path = submodules/grok
	url = https://github.com/ui-js/grok.git
	branch = master
[submodule "submodules/code-playground"]
	path = submodules/code-playground
	url = https://github.com/ui-js/code-playground.git
	branch = master

