
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  display: none;
  /* opacity: 0;
  width: 0;
  height: 0; */
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 34px;
  background-color: var(--ui-surface);
  transition: .2s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  border-radius: 50%;
  left: 4px;
  bottom: 4px;
  background-color: var(--ui-handle);
  transition: .2s;
}

input:checked + .slider {
  background-color: var(--primary-color);
}

input:focus-visible + .slider {
  outline: 5px auto #0c6abe;
  outline-offset: -2px;
}

input:checked + .slider:before {
  transform: translateX(26px);
}
