<link rel="preconnect" href="https://kit.fontawesome.com">
<script src="https://kit.fontawesome.com/523e3eb8bb.js" crossorigin="anonymous"></script>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link crossorigin href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital@0;1&family=IBM+Plex+Sans:ital,wght@0,100;0,400;0,600;0,700;1,400&display=block" rel="stylesheet">


<!-- <script>
  // ((window.gitter = {}).chat = {}).options = {
  //   room: 'cortex-js/community',
  //   activationElement: '.my-special-button',
  //   targetElement: '.my-special-target-element'
  // };
</script> -->
<!-- <script src="https://sidecar.gitter.im/dist/sidecar.v1.js" async defer></script> -->
