<link
    crossorigin
    href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:100,100i,400,400i,700,700i,900,900i&display=block"
    rel="stylesheet"
/>

<link
    crossorigin
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,700;1,400;1,700&family=IBM+Plex+Sans:ital,wght@0,400;0,700;1,400;1,700&display=block"
/>


<script src="https://kit.fontawesome.com/523e3eb8bb.js" crossorigin="anonymous"></script>

<!-- <script>
  // ((window.gitter = {}).chat = {}).options = {
  //   room: 'cortex-js/community',
  //   activationElement: '.my-special-button',
  //   targetElement: '.my-special-target-element'
  // };
</script> -->
<!-- <script src="https://sidecar.gitter.im/dist/sidecar.v1.js" async defer></script> -->
