/* base16-default-dark */
// $base00: #212430;
// $base01: #282828;
// $base02: #383838;
// $base03: #585858;
// $base04: #b8b8b8;
// $base05: #d8d8d8;
// $base06: #e8e8e8;
// $base07: #f8f8f8;
// $base08: #ab4642;
// $base09: #dc9656;
// $base0a: #f7ca88;
// $base0b: #a1b56c;
// $base0c: #86c1b9;
// $base0d: #7cafc2;
// $base0e: #ba8baf;
// $base0f: #a16946;


/* tomorrow */
// $base00: #ffffff;
// $base01: #e0e0e0;
// $base02: #d6d6d6;
// $base03: #8e908c;
// $base04: #969896;
// $base05: #4d4d4c;
// $base06: #282a2e;
// $base07: #1d1f21;
// $base08: #c82829;
// $base09: #f5871f;
// $base0a: #eab700;
// $base0b: #718c00;
// $base0c: #3e999f;
// $base0d: #4271ae;
// $base0e: #8959a8;
// $base0f: #a3685a;

/* tomorrow-night */
$base00: #35434e;       // was #1d1f21;
$base01: #282a2e;
$base02: #373b41;
$base03: #969896;
$base04: #b4b7b4;
$base05: #c5c8c6;       // base05
$base06: #e0e0e0;
$base07: #ffffff;
$base0c: #cc6666;       // base08
$base09: #de935f;
$base0a: #f0c674;
$base0b: #b5bd68;
$base08: #8abeb7;       // base0c
$base0d: #81a2be;       // base0d
$base0e: #b294bb;
$base0f: #a3685a;
