---
layout: default
---

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% elsif page.header.video.id and page.header.video.provider %}
  {% include page__hero_video.html %}
{% endif %}

{% if page.url != "/" and site.breadcrumbs %}
  {% unless paginator %}
    {% include breadcrumbs.html %}
  {% endunless %}
{% endif %}

<div id="main" role="main">
  {% include sidebar.html %}

  <article class="page" itemscope itemtype="https://schema.org/CreativeWork">

    <div class="page__inner-wrap">
    
    
      <section class="page__content" itemprop="text">
{% if toc %}
  {% if preamble %}
    {{ preamble }}
  {% else %}
    <h1>{{ title }}</h1>
  {% endif %}

  {% if content | toc %}

    <nav class="toc">
      <header><h2 class="nav__title"><svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 384 512" style="height:16px; width:12px"><path fill="currentColor" d="M256 0v128h128L256 0zM224 128L224 0H48C21.49 0 0 21.49 0 48v416C0 490.5 21.49 512 48 512h288c26.51 0 48-21.49 48-48V160h-127.1C238.3 160 224 145.7 224 128zM272 416h-160C103.2 416 96 408.8 96 400C96 391.2 103.2 384 112 384h160c8.836 0 16 7.162 16 16C288 408.8 280.8 416 272 416zM272 352h-160C103.2 352 96 344.8 96 336C96 327.2 103.2 320 112 320h160c8.836 0 16 7.162 16 16C288 344.8 280.8 352 272 352zM288 272C288 280.8 280.8 288 272 288h-160C103.2 288 96 280.8 96 272C96 263.2 103.2 256 112 256h160C280.8 256 288 263.2 288 272z"/></svg>{{ toc_label | default: site.data.ui-text[site.locale].toc_label | default: "On This Page" }}</h2></header>

      {% if toc-options %}
        {{ content | toc: toc-options }}
      {% else %}
        {{ content | toc: '{"tags":["h2","h3"]}' }}
      {% endif %}
                              
    </nav>
  {% endif %}

{% else %}
  {% if preamble %}
  {{ preamble }}
  {% endif %}
{% endif %}

{{ content }}
        {% if page.link %}<div><a href="{{ page.link }}" class="btn btn--primary">{{ site.data.ui-text[site.locale].ext_link_label | default: "Direct Link" }}</a></div>{% endif %}
      </section>

      <footer class="page__meta">
        {% if site.data.ui-text[site.locale].meta_label %}
          <h4 class="page__meta-title">{{ site.data.ui-text[site.locale].meta_label }}</h4>
        {% endif %}
        {% include page__taxonomy.html %}
        {% if page.date %}<meta itemprop="datePublished" content="{{ page.date | date: "%B %d, %Y" }}">{% endif %}
        {% if page.last_modified_at %}<meta itemprop="dateModified" content="{{ page.last_modified_at | date: "%B %d, %Y" }}">{% endif %}        

        {% if version %}<p><svg class="icon1quarterem"><use role="none" xlink:href="/assets/icons.svg#code-branch"/></svg><strong>{{ version }} </strong> <span id="version"></span></p>{% endif %}


        {% if page.last_modified_at %}
          <p class="page__date"><svg class="icon1quarterem"><use role="none" xlink:href="/assets/icons.svg#calendar-days"/></svg><strong> {{ site.data.ui-text[site.locale].date_label | default: "Updated" }}</strong> <time datetime='{{ page.last_modified_at | date: "%Y-%m-%d" }}'>{{ page.last_modified_at | date: "%B %d, %Y" }}</time></p>
        {% elsif page.date %}
          <p class="page__date"><svg class="icon1quarterem"><use role="none" xlink:href="/assets/icons.svg#calendar-days"/></svg><strong> {{ site.data.ui-text[site.locale].date_label | default: "Updated" }}</strong> <time datetime='{{ page.date | date: "%Y-%m-%d" }}'>{{ page.date | date: "%B %d, %Y" }}</time></p>
        {% endif %}

          <p class="page__meta-link"><svg class="icon1quarterem"><use role="none" xlink:href="/assets/icons.svg#bug"/></svg> <strong>See a typo? Question? Feedback?</strong> File an issue at <a href="https://github.com/cortex-js/cortexjs.io">github.com/cortex-js/cortexjs.io</a></p>
      </footer>


      {% include post_pagination.html %}
    </div>

  </article>
</div>

<script type="module">
  window.addEventListener('DOMContentLoaded', (event) => {
    import('https://unpkg.com/mathlive?module').then((mathlive) => {
      mathlive.renderMathInDocument({ 
        renderAccessibleContent: false,
        TeX: { 
          delimiters: {
            inline: [['\\(', '\\)']],
            display: [ ['$$', '$$'], ['\\[', '\\]']],
          },
          processEnvironments : false 
        },
        asciiMath: null,
      })
    })
  });
</script>
