.heroContainer {
  /* display: flex; */
  position: relative;
  width: 100%;
  min-height: var(--container-height, 50vh);
  border: 1px solid var(--neutral-700);
  border-radius: 8px;
  --text-color: #fff;
  margin-bottom: 1em;
  background: var(--blue-900);
}

.heroContainer h1, .heroContainer h2, 
.heroContainer h3, .heroContainer h4, 
.heroContainer p {
  margin: 0 !important;
  padding: 0 !important;
}

.heroContainer h1, 
.heroContainer h2 {
  --_outline-color:var(--outline-color, #0003);
  text-shadow: 0 0 8px #3332, 2px 0 8px var(--_outline-color), -2px 0 8px var(--_outline-color), 0 2px 2px var(--_outline-color), 0 -2px 8px var(--_outline-color);
}


.heroImage {
  position: absolute;
  z-index: 0;
  inset: 0;
  background-image: var(--hero-image);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 6px;
  /* filter: brightness(0.9) grayscale(0.2); */
}

.heroText {
  /* position: absolute; */
  z-index: 1;
  height: 100%;
  width: 100%;
  /* left: 0; */
  /* bottom: 0; */
  /* margin-top: 10vh; */
  /* padding-bottom: 1em; */
  /* padding-left: 1em; */

  color: var(--text-color);
  /* text-shadow: 0 0 8px #3335; */
  border-radius: 8px;
  /* background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0 0 0 / .6) 100%) repeat scroll 0 0; */
}

@media only screen and (max-width: 767px) {
  .heroText {
    padding: 0;
  }

}

.heroText > div {
  display: flex;
  flex-direction: row; /* Default, but can be explicit */
  align-items: stretch; /* Makes all children take the height of the tallest */
}

.heroText a {
  flex: 1;
}

.heroText a div {
  height: 100%;
}


/* @media screen and (max-width: 1024px) {
  .heroText {
    top: 2em;
    bottom: 0;
    padding: 0;
  }

  .heroContainer {
    height: min(80vh, 100%);
  }
} */