---
---
@import "code_theme";
@import "common";

// Stylesheet for the typescript_doc layout.


code {
    font-size: $code-font-size;
}

h2 {

}

h2 em {
    display: block;
    font-size: $subheading-font-size;
    font-weight: 900;
    text-transform: uppercase;
    font-style: normal;
    color: $secondary;
}

h2 strong {
    color: $primary;
    font-weight: bold;
}

h3 {
    font-family: $monospace;
    font-size: $code-font-size;
    font-feature-settings: normal;
    line-height: 1.5;
    font-weight: normal;

    white-space: pre-wrap;

    margin-top: -25px;
    margin-left: -20px;
    margin-right: -20px;
    padding: 20px;
    padding-bottom: 10px;

    color: $body-color;
    // letter-spacing: .25px;

    border-bottom: 1px solid #e7e7e7
}

h4 {
    font-size: $h4-font-size;
}

/* Categories */
.tsd-index-list h3 {
    font-family: $sans-serif;
    font-size: $h3-font-size;
    background: transparent;
    border: none;
    font-weight: 900;
    margin: 0;
    padding: 0;
}

// h3 code {
//     font-size: $body-font-size;
// }

/* Function names */
h3 strong {
    color: $primary;
}

body.layout--typescript_doc ul {
    line-height: 1.333;
    list-style: none;
    padding-left: 0;
}

body.layout--typescript_doc .page__content dd ul {
    list-style: square;
    margin-left: 10px;
    padding-left: 10px;
}




body.layout--typescript_doc .page__content p,
body.layout--typescript_doc .page__content li {
    font-size: $body-font-size !important;
    line-height: 1.52;

    margin-top: 1em;
    margin-bottom: 1em;
    color: $body-color;
}

a, a:visited, a:hover {
    color: $primary;
    text-decoration: none;
}

body.layout--typescript_doc .page__content dt {
    font-family: $monospace;
    font-size: $code-font-size;
    color: $secondary;
    font-weight: normal;
}

body.layout--typescript_doc .page__content dt strong {
    color: $body-color;
}

body.layout--typescript_doc .page__content dt em {
    color: $secondary;
}

body.layout--typescript_doc .page__content dd {
    font-size: $body-font-size;
    color: $body-color;

    margin-bottom: 20px;
}

body.layout--typescript_doc table {
    font-size: 1em;
}

body.layout--typescript_doc td {
    border-bottom-color: #ddd;
}

dd div.highlight {
    margin-top: 1.5em;
}


.card {
    flex-flow: column;
    align-items: start;
    
    font-size: $body-font-size;
	margin-top: 30px;
	margin-bottom: 40px;
	overflow: hidden;
	padding: 20px 17px;
	border-radius: 4px;
	border: 1px solid $card-border;
	background-color: $card-background;
	color: $body-color;
	max-width: 820px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

body.layout--typescript_doc .page__content .card p:nth-child(1) {
    margin-top: 0;
}

.tsd-index-list ul, 
ul.tsd-index-list  {
    column-width: 20ex;
    column-gap: 20px;
    padding: 0;
    list-style: none;
    line-height: 1.333;
}

body.layout--typescript_doc  .tsd-index-list li {
    font-family: $monospace;
    font-size: $code-font-size !important;
    margin: 0;
    box-sizing: content-box;
    break-inside: avoid-column;
}

body.layout--typescript_doc  .tsd-index-list li a, 
body.layout--typescript_doc  .tsd-index-list li a:visited {
    text-decoration: none;
}

body.layout--typescript_doc  .tsd-index-list li a:hover,
body.layout--typescript_doc  .tsd-index-list li a:active {
    color: $primary;
}

/* Anchor icon */
body.layout--typescript_doc .page__content h1 .header-link, 
body.layout--typescript_doc .page__content h2 .header-link, 
body.layout--typescript_doc .page__content h3 .header-link, 
body.layout--typescript_doc .page__content h4 .header-link, 
body.layout--typescript_doc .page__content h5 .header-link, 
body.layout--typescript_doc .page__content h6 .header-link {
    font-size: 1em;
}

.modifier-tag {
    display: inline-block;
    white-space: nowrap;
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    font-variant: normal;
    font-style: normal;
    color: $semantic-blue;


    height: 22px;

    margin-left: 0;
    margin-right: 32px;

    padding-left: 10px;
    padding-right: 10px;
    padding-top: 1px;
    padding-bottom: 1px;

    vertical-align: text-bottom;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;

    border: 1px solid $semantic-blue;
    border-radius: 3px;

    background: transparent;
}

.red.modifier-tag {
    color:  $semantic-red;
    border-color: $semantic-red;
}

.orange.modifier-tag {
    color:  $semantic-orange;
    border-color: $semantic-orange;
}


.tag-name {
    font-family: $sans-serif;
    font-size: $body-font-size;
    font-weight: bold;
    color: $body-color;
    text-transform: capitalize;

}
body.layout--typescript_doc .page__content .notice--info h4,
body.layout--typescript_doc .page__content .notice--warning h4,
body.layout--typescript_doc .page__content .notice--danger h4 {
    font-size: $h4-font-size;
    letter-spacing: -0.5px;
    text-transform: uppercase;
}

body.layout--typescript_doc .page__content .notice--danger h4 {
    color: $semantic-red;
}


.deprecated {
    text-decoration: line-through;
}

div.highlighter-rouge, figure.highlight {
    border-radius: 8px;
}

p>code, a>code, li>code, figcaption>code, td>code, dd>code{
    font-size: $code-font-size;
    border: 1px solid #ddd;
    background: #fefefe;
    border-radius: 4px;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 2px;
    padding-top: 2px;
}


@media (min-width: 80em) {
    .sidebar {
        width: calc(200px - 1em);
    }
    .page {
        width: calc(100% - 200px);
        padding-right: 200px;
    }
}

// Roughe typographic adjustments.
// See https://github.com/rouge-ruby/rouge/wiki/List-of-tokens

.highlight .c1,     // Single line comment
.highlight .cm      // Multiline comment
{
    font-style: italic;
}

.highlight .k,       // keywords
.highlight .kc,       // keywords constant
.highlight .kd,       // keywords declaration
.highlight .kn,       // keywords namespace
.highlight .kp,       // keywords pseudi
.highlight .kr,       // keywords reserved
.highlight .kt,       // keywords type
.highlight .kv       // keywords variable
{
    font-weight: bold;
}