/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

body {
  background-color: var(--neutral-900);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
}

 body .header {
  padding: 8rem 0 !important;
  text-align: center;
  position: relative;
  overflow: hidden;
}


.h1 {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: clamp(1rem, 14vw, 10rem);
  font-weight: 900;
  letter-spacing: -0.04em;
  /* color: var(--neutral-100); */
  color: transparent;


  background: radial-gradient(circle, var(--secondary-color) 0%,  red 25%, orange 50%, green 75%, var(--primary-color) 100%);
  background-clip: text;
  animation: glow 32s linear infinite;
  background-size: 500% 500%;
}

@keyframes glow {
  0% {
    background-position: 0 0;
  }
  25% {
    background-position: 50% 20%;
  }
  50% {
    background-position: 100% 100%;
  }
  75% {
    background-position: 100% 75%;
  }
  100% {
    background-position: 0 0;
  }
}


.h1 img {
  width: clamp(1rem, 14vw, 10rem);
  height: clamp(1rem, 14vw, 10rem);
  margin-right: 1rem;
}


.subtitle {
  font-weight: 400;
  line-height: 1;
  max-width: 80%;
  font-size: clamp(1rem, 8vw, 10rem);
  text-wrap: balance;
  margin-inline: auto !important;
  margin-bottom: 3rem !important;
  color: var(--blue-800);
  letter-spacing: -0.08em;
  text-transform: uppercase;
}

.pods {
  display: flex;
  gap: 6rem;
  margin: 0 2rem 6rem 2rem;

  align-items: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
}

.pods a {
  text-decoration: none;
  flex: 1;
}

.pods a:hover {
  text-decoration: none;
}




.pod {
  position: relative;
  padding: 8px;
  min-width: 400px;
  min-height: 400px;
  color: var(--text-color);
  transform: scale(1);
  transition: all 0.3s ease-in-out;
  background: var(--neutral-900);
  height: 100%;
  cursor: pointer;
  z-index: 1;
  border-radius: 16px;

  border: 3px solid #fff;
  background-clip: padding-box;
  padding-bottom: 60px; /* Ensure space for the button */
}


.pod::before {
  content: "";
  position: absolute;
  top: -6px;
  left: -6px;
  right: -6px;
  bottom: -6px;
  border-radius: 22px;
  background: linear-gradient(45deg, 
    red,  blue, green, red
  );
  z-index: -1;
  filter: blur(16px);
  opacity: 0.8;
  /* animation: glow2 6s linear infinite; */

  /* Hide the center to only show the outer glow */
  -webkit-mask-image: radial-gradient(circle, rgba(0,0,0,0) 60%, rgba(0,0,0,1) 100%);
  mask-image: radial-gradient(circle, rgba(0,0,0,0) 60%, rgba(0,0,0,1) 100%);
}

.mathfieldPod::before {
  background: linear-gradient(32deg, 
  yellow, orange, pink, red, yellow
  );
}

.computeEnginePod::before {
  background: linear-gradient(12deg, 
  blue, green,teal, chartreuse, blue
  );
}
.mathJsonPod::before {
  background: linear-gradient(17deg, 
  purple, pink,red, magenta, violet
  );
}



.pods a:hover .pod {
  transform: scale(1.05);
  box-shadow: 
    0 -2px 20px rgb(255 255 255 / .3),
    var(--box-shadow-md);
}

.pod h2 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.04em;
  padding: 1rem .5rem 0 .5rem;
}

.pod p {
  color: var(--neutral-500);
  font-weight: 600;
  line-height: 1;
  font-size: 2.4rem;
  padding-inline: .5rem;
}

.pod p strong {
  color: var(--neutral-200);
}

.pod button {
  appearance: none;
  padding: 8px 16px 8px 16px;
  border-radius: 36px;
  border: none;
  background: var(--primary-color);
  color: white;

  font-weight: 600;
  font-size: 1rem;
}

.pod div:has(button) {
  position: absolute;
  bottom: 1rem;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
}




.pod button:hover {
  background: var(--primary-color-light);
  color: var(--primary-color);
  transition: background-color 0.3s ease-in-out;
}

[data-theme="dark"] .pod button:hover {
  background: var(--primary-color-light);
}

.pod button:active {
  background: var(--primary-color-dark);
  scale: 1.05;
  transition: background-color 0.3s ease-in-out;
}

[data-theme="dark"] .pod button:active {
  background: var(--primary-color-light);

}


[data-theme="dark"] .pod {
  --shadow-color: red;
  outline: none;
  box-shadow: 0 -2px 10px rgb(0 0 0 / 20%); 

}

[data-theme="dark"] .pods a:hover .pod {
  box-shadow: 
    0 -2px 20px rgb(0 0 0  / .3);
}

.posterContainer {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: 4em auto;
  aspect-ratio: 2 / 3;
  overflow: hidden;

  border-radius: 16px;
  box-sizing: border-box;
  border: 2px solid var(--neutral-800);
}

.poster {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  opacity: 0;
  pointer-events: none;
  transition: opacity 1s ease-in-out;
}

.posterA {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.posterB {
  opacity: 0.2;
  transition: opacity 1s ease-in-out;
}

.fadeIn {
  opacity: 1;
  z-index: 2;
  pointer-events: auto;
}

.fadeOut {
  z-index: 1;
}
