/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

body {
  background-color: var(--neutral-900);
}

 .header {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}


.h1 {
  font-size: clamp(1rem, 20vw, 10rem);
  font-weight: 900;
  letter-spacing: -0.04em;
  /* color: var(--neutral-100); */
  color: transparent;


  background: radial-gradient(circle, var(--secondary-color) 0%, var(--primary-color) 100%);
  background-clip: text;
  animation: glow 14s linear infinite;
  background-size: 500% 200%;
}

.h1 .js {
  font-weight: 100;
}

@keyframes glow {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0 0;
  }
}

.subtitle {
  font-weight: 900;
  line-height: 1;
  max-width: 80%;
  font-size: clamp(1rem, 5vw, 5rem);
  text-wrap: balance;
  margin-inline: auto !important;
  margin-bottom: 3rem !important;
  color: var(--neutral-400);
  text-transform: uppercase;
}

.pods {
  display: flex;
  gap: 1rem;
  margin: 0 2rem 1rem 2rem;

  align-items: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}




.pods a {
  text-decoration: none;
  flex: 1;
}

.pods a:hover {
  text-decoration: none;
}

.pod {
  position: relative;
  padding: 8px;
  min-width: 250px;
  min-height: 200px;
  color: var(--text-color);
  transform: scale(1);
  transition: all 0.3s ease-in-out;
  background: var(--neutral-900);
  height: 100%;
  cursor: pointer;
  z-index: 1;
  border-radius: 16px;

  /* Transparent border to ensure spacing for the glow */
  border: 3px solid transparent;
  background-clip: padding-box;
}

.pod::before {
  content: "";
  position: absolute;
  top: -6px;
  left: -6px;
  right: -6px;
  bottom: -6px;
  border-radius: 22px;
  background: linear-gradient(45deg, 
    red,  blue, green, red
  );
  z-index: -1;
  filter: blur(16px);
  opacity: 0.8;
  /* animation: glow2 6s linear infinite; */

  /* Hide the center to only show the outer glow */
  -webkit-mask-image: radial-gradient(circle, rgba(0,0,0,0) 60%, rgba(0,0,0,1) 100%);
  mask-image: radial-gradient(circle, rgba(0,0,0,0) 60%, rgba(0,0,0,1) 100%);
}

.mathfieldPod::before {
  background: linear-gradient(32deg, 
  yellow, orange, pink, red, yellow
  );
}

.computeEnginePod::before {
  background: linear-gradient(12deg, 
  blue, green,teal, chartreuse, blue
  );
}
.mathJsonPod::before {
  background: linear-gradient(17deg, 
  purple, pink,red, magenta, violet
  );
}



.pods a:hover .pod {
  transform: scale(1.05);
  box-shadow: 
    0 -2px 20px rgb(255 255 255 / .3),
    var(--box-shadow-md);
}

.pod h2 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.04em;
  padding: 1rem .5rem 0 .5rem;
}

.pod p {
  color: var(--neutral-500);
  font-weight: 600;
  line-height: 1.1;
  font-size: 1.2rem;
  padding-inline: .5rem;
}

.pod p strong {
  color: var(--neutral-200);
}

.pod button {
  appearance: none;
  border: none;
  background: var(--primary-color);
  color: white;
  padding: 8px 16px 8px 16px;
  border-radius: 36px;
  font-weight: 600;
  margin-bottom: 1rem;
}

.pod button:hover {
  background: var(--primary-color-dark);
  transition: background-color 0.3s ease-in-out;
}

[data-theme="dark"] .pod button:hover {
  background: var(--primary-color-light);
}

.pod button:active {
  background: var(--primary-color-dark);
  scale: 1.05;
  transition: background-color 0.3s ease-in-out;
}

[data-theme="dark"] .pod button:active {
  background: var(--primary-color-light);

}


[data-theme="dark"] .pod {
  --shadow-color: red;
  outline: none;
  box-shadow: 0 -2px 10px rgb(0 0 0 / 20%); 

}

[data-theme="dark"] .pods a:hover .pod {
  box-shadow: 
    0 -2px 20px rgb(0 0 0  / .3);
}
