.functionDefinition {
  clear: both;
  border-radius: 16px;
  background: var(--card-background);
  border: 1px solid var(--callout-border-color);
  padding: 8px;
  padding-bottom: 0;
  margin-bottom: 4em;
}

.functionDefinition :global(.ML__mathlive) {
  font-size: .8em;
}
