@import "imports/button.scss";
@import "imports/common.scss";
@import "imports/code-theme.scss";


$tab-height: 36px;
$tab-width: 150px;

.live-code {
    display: flex;
    flex-flow: row;
    width: calc(100% - 4em);
    margin-left: 2em;
    margin-right: 2em;
    justify-content: center;
    align-items: center;
}

.live-code .source {
    margin-top: 1em;
    margin-bottom: 1em;
    width: calc(50% - 6em);
    padding: 8px;
    border-radius: 8px;
    background: $base00;
}

.live-code .result {
    width: calc(50% - 6em);
    margin-left: 2em;
    & .output {
    }
    & .console {
        max-height: 300px;
        overflow: auto;
        font-size: 14px;
        & .error {
            color: $base-red;
        }
        & .warning {
            color: $base-yellow;
        }
        & .group {
            font-weight: bold;
        }
    }
}

.tabs {
  position: relative;   
  display: flex;
  flex-flow: row;
  min-height: 200px;
  clear: both;
  --tab-indicator-offset: 0;
}
.tab {
  min-width: $tab-width;
  border-color: $base02;
  background: $base01;
  border-style: solid;
  border-top-width: 1px;
  border-bottom-width: 1px;
  height: $tab-height;
  border-left: none;
  border-right: none;
  box-sizing: content-box;
}
.tab:first-child {
    border-top-left-radius: $tab-height;
    border-bottom-left-radius: $tab-height;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: $base02;
}
.tab:last-child {
    border-top-right-radius: $tab-height;
    border-bottom-right-radius: $tab-height;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: $base02;
    &:after {
        content: '';
        display: block;
        position: absolute;
        width: $tab-width - 6px;
        top: 4px;
        height: $tab-height - 6px;
        left: calc(3px + var(--tab-indicator-offset));
        z-index: 0;
        border-radius: $tab-height;
        background: $base00;
        transition-property: left;
        transition-duration: 200ms;
        transition-timing-function: ease-in-out;
    }
}



.tab label {
  position: absolute;
  width: 150px;
  height: $tab-height;
  padding-top: 8px;
  padding-bottom: 6px;
  font-weight: 900;
  letter-spacing: 0.5px;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  color: $base05;
  user-select: none;
  z-index: 1;
}
.tab [type=radio] {
  display: none;   
}
.content {
  visibility: hidden;
  position: absolute;
  top: $tab-height + 2px;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 14px;
}
[type=radio]:hover ~ label {
  color: #fff;
}
[type=radio]:checked ~ label {
  color: #fff;
  z-index: 2;
}
[type=radio]:checked ~ label ~ .content {
  z-index: 1;
  visibility: visible;
}


.live-code .button {
    outline: none;
    background: $base01;
    color: $base05;
    border: 1px solid #111;
}
.live-code .button:hover, .live-code .button:active {
    color: #fff;
}
.live-code .button:active {
    background: $base00;
}

.mathfield {
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 4px;
    background: #fff;
}

@media (max-width: 1024px) { 
    .live-code {
        flex-flow: column;
    }
    .live-code .source, .live-code .result {
        width: calc(100% - 1em);
        margin-left: .5em;
        margin-right: .5em;
        margin-top: .5em;
        margin-bottom: .5em;
    }
}