@charset "utf-8";

// @import 'imports/astra';

@import 'imports/common';

@import 'imports/utilities';

@import 'imports/minimal-mistakes'; // main partials
@import 'imports/minimal-mistakes-overrides';

@import 'imports/cards';
@import 'imports/tables';


.avatar-md {
  border-radius: 50%;
  width: 64px;
  height: 64px;
  border: 2px solid white;
}

.avatar-lg {
  border-radius: 50%;
  width: 128px;
  height: 128px;
  border: 2px solid white;
}

.hero-container {
  position: relative;
}

.hero-container h2 {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  text-align: right;
  margin: 0;
  padding-top: 20%;
  border: none;
  font-size: 3em;
  line-height: 0.8;
  background: #fff;
  background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 80%) 66%,
      white 100%
  );
}

// Space and align the chevron icon
#main a .fa-chevron-right svg {
    margin-left: 1ex;
    vertical-align: -0.2em;
}


a.chevron::after {
    width: calc((2 / 9) * 3em);
    height: 3em;
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2 9'%3E%3Cpath d='M-.1 0L2 4.5L-.1 9Z' fill='currentcolor'/%3E%3C/svg%3E");
}

.svg-chevron {
  width: 1em;
  height: 1em;
  color: currentColor;
}


#main a svg.svg-chevron {
  padding: 0;
  margin: 0;
  vertical-align: -3px;
  margin-left: 6px;
}

/*
 * Read More
 * 
 */

.read-more {
  margin: 2em 0 !important;
  width: 100%; 

  /* override*/
  color: #494e52;   /* This color is not currently used, as the read-more content is a <a> tag. See ".read-more a" below */
  font-family: var(--body-font-family);
  font-size: 1rem !important;
  text-indent: initial;
  /* override*/
  background: var(--callout-background);
  border-radius: 4px;
  box-shadow: var(--callout-shadow);
  border: 1px solid var(--callout-border-color);
  transition: box-shadow,transform,border .16s ease-out,-webkit-transform .16s ease-out;
  will-change: box-shadow,transform,border;
}

/* The body of a read-more is a <a> tag */
.read-more a{
  padding: 1em;
  display: block;
  color: var(--link-color); 
  font-size: 1.1em;
  text-decoration: none;
}

.read-more:hover {
  border: 1px solid var(--callout-border-color-hover);
  transform: scale(1.007);
  box-shadow: 0 5px 10px rgba(0,0,0,0.04);
}

// Need the .page__content to have sufficient specificity 
.page__content .read-more:hover a {
  text-decoration: none;
}

.page__content p.xl {
  font-size: 2rem;
  line-height: 1.1;
  font-weight: 600;
  padding-top: 1em;
  padding-bottom: 1em;
  color: var(--blue-900);
  // background: #f0f0f0;
  border-radius: 8px;
}

@media (prefers-color-scheme: dark) {
  .page__content p.xl {
    color: var(--blue-50);
    // border-left-color: var(--blue-400);
    // border-right-color: var(--blue-400);
    // background: #333;
  }
}

code + .tags {
  margin-left: 1em;
}

.tags {
  display: inline-flex;
  font-size: .6em;
  line-height: 1.4;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  vertical-align: middle;

  .tag-inert:first-of-type, 
  .tag-numeric:first-of-type, 
  .tag-constructor:first-of-type, 
  .tag-predicate:first-of-type {
    margin-left: 0;
  }
  
  .tag {
    min-width: 60px;
    border: .5px solid currentColor;
    border-radius: 1em;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left:.5em;
    padding-right: .5em;
    margin-left: 1em;
    color: var(--text-color);
    background: var(--card-background);
    }
  .tag.inert {
    color: $gray-400;
    background: $gray-800;
  }
  .tag.constructor {
    color: var(--yellow-900); // #ff810a; // Yellow-900;
    background: var(--yellow-100); // #fff1c2; // Yellow-100;
  }
  .tag.numeric {
    color: var(--blue-800); //  #0b5c9c; // Blue-800
    background: var(--blue-100); //  #b6d9fb;  // Blue-100
  }
  .tag.predicate {
    color: var(--lime-800); // #4a890b;   // Lime-800
    background: var(--lime-100); // #d0e8b9; // Lime-100
  }
}

