@charset "utf-8";

@import 'imports/astra';
@import 'imports/minimal-mistakes'; // main partials
@import 'imports/minimal-mistakes-overrides';
@import 'imports/utilities';
@import 'imports/cards';
@import 'imports/tables';


.avatar-md {
  border-radius: 50%;
  width: 64px;
  height: 64px;
  border: 2px solid white;
}

.avatar-lg {
  border-radius: 50%;
  width: 128px;
  height: 128px;
  border: 2px solid white;
}

.hero-container {
  position: relative;
}

.hero-container h2 {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  text-align: right;
  margin: 0;
  padding-top: 20%;
  border: none;
  font-size: 3em;
  line-height: 0.8;
  background: #fff;
  background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 80%) 66%,
      white 100%
  );
}

// Space and align the chevron icon
#main a .fa-chevron-right svg {
    margin-left: 1ex;
    vertical-align: -0.2em;
}


a.chevron::after {
    width: calc((2 / 9) * 3em);
    height: 3em;
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2 9'%3E%3Cpath d='M-.1 0L2 4.5L-.1 9Z' fill='currentcolor'/%3E%3C/svg%3E");
}

.svg-chevron {
  width: 1em;
  height: 1em;
  color: currentColor;
}

#main a svg.svg-chevron {
  padding: 0;
  margin: 0;
  vertical-align: -3px;
  margin-left: 6px;
}

/*
 * Read More
 * 
 */

.page__content .read-more {
  color:#000;
  margin: 2em 0 !important;
  /* override*/
  color: #494e52;
  font-family: $body-font;
  font-size: 1rem !important;
  text-indent: initial;
  /* override*/
  background-color: #e6f0fa;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 102, 206, 0.25);
  width: 100%; 
  border: 1px solid rgba(0, 102, 206, 0.25);
  transition: box-shadow,transform,border .16s ease-out,-webkit-transform .16s ease-out;
  will-change: box-shadow,transform,border;
}
.page__content .read-more a{
  padding: 1em;
  display: block;
  color: #0066ce; 
  font-size: 1.1em;
  text-decoration: none;
}

.page__content .read-more:hover {
  border: 1px solid #0066ce;
  transform: scale(1.007);
  box-shadow: 0 5px 10px rgba(0,0,0,0.04);
}

.page__content .read-more:hover a{
  text-decoration: none;
}

// .page__content a:not( .btn):not( #goog-wm-sb):hover

code + .tags {
  margin-left: 1em;
}

.tags {
  display: inline-flex;
  font-size: .6em;
  line-height: 1.4;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  vertical-align: middle;

  .tag-inert:first-of-type, 
  .tag-numeric:first-of-type, 
  .tag-constructor:first-of-type, 
  .tag-predicate:first-of-type {
    margin-left: 0;
  }
  
  .tag {
    min-width: 60px;
    border: 1px solid currentColor;
    border-radius: 8px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left:.5em;
    padding-right: .5em;
    margin-left: 1em;
    color: #333;
    background: #eee;
    }
  .tag.inert {
    color: #666;
    background: #d4d5d2;
  }
  .tag.constructor {
    color: #ff810a; // Yellow-900;
    background: #fff1c2; // Yellow-100;
  }
  .tag.numeric {
    color: #0b5c9c; // Blue-800
    background: #b6d9fb;  // Blue-100
  }
  .tag.predicate {
    color: #4a890b;   // Lime-800
    background: #d0e8b9; // Lime-100
  }
}

.float-right {
  float: right;
}

// Indigo-800 #422581
// Indigo-100 #d1c2f0

// Red-800 #c6130a
// Red-100 #fbbbb6

// Teal-800 #0e7f7f
// Teal-100 #b9f1f1