/* Error: There is no module with the namespace "math".
 *    ,
 * 93 |     @return percentage(math.div($span-width, $container) );
 *    |                        ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *    '
 *   src/_sass/imports/minimal-mistakes/vendor/susy/susy/_su-math.scss 93:24          su-span()
 *   src/_sass/imports/minimal-mistakes/vendor/susy/susy/_syntax-helpers.scss 190:11  su-call()
 *   src/_sass/imports/minimal-mistakes/vendor/susy/susy/_api.scss 146:13             susy-span()
 *   src/_sass/imports/minimal-mistakes/vendor/susy/susy/_unprefix.scss 19:11         span()
 *   src/_sass/imports/minimal-mistakes/_utilities.scss 185:24                        @content
 *   src/_sass/imports/minimal-mistakes/vendor/breakpoint/_breakpoint.scss 66:7       breakpoint()
 *   src/_sass/imports/minimal-mistakes/_utilities.scss 184:3                         @import
 *   src/_sass/imports/minimal-mistakes.scss 36:9                                     @import
 *   src/_sass/sdk-documentation-layout.scss 8:9                                      root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: There is no module with the namespace "math".\a    \2577 \a 93 \2502      @return percentage(math.div($span-width, $container) );\a    \2502                         ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   src/_sass/imports/minimal-mistakes/vendor/susy/susy/_su-math.scss 93:24          su-span()\a   src/_sass/imports/minimal-mistakes/vendor/susy/susy/_syntax-helpers.scss 190:11  su-call()\a   src/_sass/imports/minimal-mistakes/vendor/susy/susy/_api.scss 146:13             susy-span()\a   src/_sass/imports/minimal-mistakes/vendor/susy/susy/_unprefix.scss 19:11         span()\a   src/_sass/imports/minimal-mistakes/_utilities.scss 185:24                        @content\a   src/_sass/imports/minimal-mistakes/vendor/breakpoint/_breakpoint.scss 66:7       breakpoint()\a   src/_sass/imports/minimal-mistakes/_utilities.scss 184:3                         @import\a   src/_sass/imports/minimal-mistakes.scss 36:9                                     @import\a   src/_sass/sdk-documentation-layout.scss 8:9                                      root stylesheet';
}
