// Stylesheet for the typescript_doc layout.
@charset "utf-8";

@import 'imports/astra';

@import 'imports/common';

@import 'imports/utilities';

// @import 'imports/astra';
@import 'imports/astra';
@import 'imports/minimal-mistakes'; // main partials
@import 'imports/minimal-mistakes-overrides';

$subheading-font-size: 0.7rem;
$h3-font-size: 1.25rem;
$h4-font-size: 1.17rem;
$code-font-size: 1rem;


mark {
    background: var(--highlight-color);
}

section.page__content {
    font-family: vat(--body-font);
    line-height: 1.5;
    color: var(--text-color);
}

section.page__content h1,
section.page__content h2,
section.page__content h3,
section.page__content h4,
section.page__content h5 {
    font-family: var(--display-font);
}

.stack {
    display: flex;
    flex-flow: column;
}

.search-box-container {
    display: flex;
    flex-flow: row;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    max-width: 820px;
    padding: 8px 16px 8px 8px;
    margin-top: 2em;
    margin-bottom: 4em;
    border-radius: 8px;
    line-height: normal;
    background: var(--ui-background);
    border: var(--ui-border);
}

.search-box-container:focus-within,
.search-box-container:hover {
    border: var(--ui-border-focus);
    box-shadow: var(--ui-focus-shadow);
}

.search-box-container .icon {
    color: var(--placeholder-color);
    width: 32px;
    min-width: 32px;
    height: 32px;
    top: 0;
}
.search-box-container .icon svg {
    display: block;
    width: 100%;
    height: 100%;
}
#search-box {
    width: 100%;
    height: 42px;
    margin: 0;
    padding: 0;
    border-radius: 0;
    margin-left: 8px;
    resize: none;
    font-weight: 700;
    font-size: 1.5em;
    line-height: normal;
    box-shadow: none;
    border: none;
    outline: none;
    background: transparent;
}
#search-box::placeholder {
    color: var(--placeholder-color);
}

#search-result-none {
  margin-top: 0;
  margin: 0;
  padding: 1em;
  font-size: 2em;
  font-weight: 700;
  font-family: var(--ui);
  border: 1px solid var(--callout-border-color);
  border-radius: 16px;
  background: var(--callout-background);

  .icon {
    font-size: 2em;
  }
}


#clear-button {
    cursor: pointer;
    user-select: none;
    border-radius: 21px;
    width: 42px;
    min-width: 42px;
    height: 42px;
    padding: 11px;
    background: transparent;
}

#clear-button:hover {
    background: var(--ui-background-hover);
}

.hidden {
    display: none !important;
}

// For the "main" symbol in the heading
h2 strong {
    color: var(--strong-color);
    font-weight: 700;
}

h2,
h3 {
    position: sticky;
    top: -2px; // Needed for sticky
    width: calc(100%);
    font-feature-settings: normal;
    line-height: 1.5;
    border: 10px solid var(--content-background);
    border-bottom: 1px solid var(--border-color);
    color: var(--text-color);
    z-index: 6; // For sticky header to float above
    background: var(--content-background);
    transform: translateX(-10px);
    box-sizing: content-box;

    display: flex;
    justify-content: space-between;
}

h3 {
    font-size: $h3-font-size;
}

/* Subheading above */
h2 span.subhead,
h3 span.subhead {
    display: block;
    font-size: $subheading-font-size;
    line-height: 1;
    font-weight: 400;
    font-style: normal;
}

.highlighting-mark-container {
    position: relative; // To position the highlighting mark
}

code,
.code {
    font-family: var(--monospace-font);
    display: inline;
    overflow-wrap: break-word;
}

p > code,
a > code,
li > code,
figcaption > code,
td > code,
dd > code {
    // font-size: $code-font-size;
    border: var(--code-border);
    background: var(--code-background);
    border-radius: 4px;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 2px;
    padding-top: 2px;
    vertical-align: 1px;
    white-space: pre-wrap;
}

// Arguments, e.g. "a" in 'f(a:T)'
// Can also be used standalone, e.g. in markup
var,
.var {
    font-family: var(--monospace-font);
    // font-size: $code-font-size;
    font-style: italic;
    font-weight: 400;
}

strong var {
    font-weight: 700;
}

.card {
    display: block;

    margin-top: 30px;
    margin-bottom: 40px;
    padding: 20px 17px;
    border-radius: 4px;
    border: 1px solid var(--border-color);
    // background-color: $card-background-color;
    color: var(--text-color);
    max-width: 820px;
    // box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.card[disabled] {
    opacity: 0.5;
    pointer-events: none;
}

section.page__content .card h3 {
    // display: flex;
    // justify-content: space-between;
    position: relative; // Override sticky h3
    top: auto; // Override sticky h3
    z-index: 5; // Override sticky h3
    width: calc(100% + 34px);
    margin-top: -20px;
    margin-bottom: 10px;
    margin-left: -7px;
    margin-right: -20px;
    padding: 20px;
    padding-bottom: 10px;

    font-family: var(--monospace-font);
    font-size: 1.2rem;
    font-feature-settings: normal;
    line-height: 1.5;
    font-weight: 400;

    white-space: nowrap;

    color: var(--text-color);
    background: var(--card-background);
    // letter-spacing: .25px;
    border: none;
    border-bottom: 1px solid var(--border-color);
    box-sizing: border-box;
    border-radius: 4px 4px 0 0;
}

/* Card header name */
.card h3 strong {
    color: var(--strong-color);
}

.card h3 > span {
    display: block;
    width: 100%;
    // Leave room for the anchor tag
    max-width: calc(100% - 24px);
    white-space: normal;
}

.page__content .card:hover > a:not(.btn) img {
    box-shadow: none;
}
h4 {
    font-size: $h4-font-size;
    font-weight: 700;
}

ul {
    line-height: 1.333;
    list-style: square;
    margin-left: 10px;
    padding-left: 10px;
}

.page__content dl.inset {
    margin-left: 1rem;
}
.page__content dd {
    font-family: var(--body-font);
    font-size: 1rem;
}

.page__content div.code ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

.page__content p,
.page__content li {
    font-size: 1rem !important;
    line-height: 1.52;

    margin-top: 1rem;
    margin-bottom: 1rem;
    color: var(--text-color);
}

html {
    scroll-behavior: smooth;
}
@media screen and (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}

body.layout--sdk-documentation-layout article.page a,
body.layout--sdk-documentation-layout article.page a:active,
body.layout--sdk-documentation-layout article.page a:visited,
body.layout--sdk-documentation-layout article.page a:hover {
    color: var(--link-color);
    text-decoration: none;
}

// For list of arguments in function signatures
.page__content dt {
  display: list-item;
  list-style: square;
  font-family: var(--monospace-font);
  // font-size: $code-font-size;
  font-size: 1rem;
  font-weight: 400;
  padding: 0;
  margin: 0 0 0 18px;
}

.page__content dt::marker {
  opacity: .5;
}


.page__content dt strong {
    // To support target highliting for dt/dd
    // This is used when we have a 'short' interface/class
    // displayed in a card.
    position: relative;
    z-index: 0;
}

// Show the anchor when it is the target
.page__content dt .permalink {
    opacity: 0;
}
.page__content section:target > h3 .permalink,
.page__content dt:target .permalink,
.page__content dt:hover .permalink {
    opacity: 1;
}

.page__content dt[id]:hover {
    background: #f0f0f0;
}

.page__content dt strong {
    color: var(--strong-color);
}

.page__content dt em {
    color: var(--strong-color);
}

.page__content dd {
    font-size: 1rem;
    color: var(--text-color);

    margin-bottom: 20px;
}

table {
    font-size: 1rem; // .main.sccs has it at .75em
    width: 100%;
    display: table;
}

thead {
    background-color: transparent;
    border-bottom: 1px solid var(--table-thick-line-color);
}
th:empty {
    display: none;
}

tr {
    width: 100%;
}

tr code {
    // Avoid breaking code in tables (often used as first column index)
    white-space: break-spaces;
}

td {
    border-bottom-color: var(--table-thin-line-color);
}

// td:last-of-type() {
//     width: 100%;
// }

dd div.highlight {
    margin-top: 1.5em;
}

.page__content .card p:nth-child(1) {
    margin-top: 0;
}

.index ul,
ul.index {
    column-width: 28ex; // Approx. maximum length of a symbol (in char)
    column-gap: 20px;
    padding: 0;
    list-style: none;
    line-height: 1.333;
}

.index li {
    display: flex;
    font-family: var(--monospace-font);
    font-size: $code-font-size !important;
    margin: 0;
    box-sizing: content-box;
    break-inside: avoid-column;
}

.index li a,
.index li a:visited {
    text-decoration: none;
}

.index li a:hover,
.index li a:active {
    color: var(--link-color-hover);
}
/* Categories */
.index h3 {
    font-family: var(--display-font);
    font-size: $h3-font-size;
    background: transparent;
    border: none;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

/* Anchor icon */
.permalink {
    float: right;
}

.permalink svg {
    display: inline-block;
    font-size: inherit;
    width: 1em;
    height: 1em;
    overflow: visible;
    vertical-align: -0.2em;
}

#main a.externallink svg {
    width: 0.8em;
    height: 0.8em;
    vertical-align: 0;
    margin-left: 0.5ex;
    margin-right: 0.5ex;
}

.page__content h1 .permalink,
.page__content h2 .permalink,
.page__content h3 .permalink,
.page__content h4 .permalink,
.page__content h5 .permalink,
.page__content h6 .permalink {
    font-size: 1em;
    left: -0.5em;
}
.page__content section {
    scroll-margin-top: 5em; // Would be nice, but can't get it to work (for cards, works for section)
    position: relative; // So that the highlight for :target contains only the section
}

svg.highlighting-mark {
    position: absolute;
    top: -1.5em;
    left: -1.5em;
    height: calc(100% + 3em);
    color: var(--highlight-color);
    z-index: -1;

    width: 0;
    transition: width 0.5s;
}
.page__content
    section[id]:target
    > h3
    .highlighting-mark-container
    > svg.highlighting-mark,
.page__content
    section[id]:target
    > h2
    .highlighting-mark-container
    > svg.highlighting-mark,
.page__content dt:target .highlighting-mark-container > svg.highlighting-mark {
    width: calc(100% + 3em);
}
// .page__content dt:target strong::after
// // .page__content section[id]:target > h3::after
// {
//     content: '<svg><use xlink:href="#external-link"></use></svg>';
//     position: absolute;
//     top: -8px;
//     left: -8px;
//     border-radius: 8px;
//     width: calc(100% + 16px);
//     height: calc(100% + 16px);
//     color: hsla(49, 100%, 63%, 0.56); // hsla(58, 100%, 50%, 0.56);
//     // '<svg><use xlink:href="#external-link"></use></svg>'
//     background: url(#marker-1);
//     z-index: -1;
// }

.page__content section[id]:target::after {
    content: '';
    position: absolute;
    top: -8px;
    left: -18px;
    border-radius: 8px;
    height: calc(100% + 16px);
    background: var(--highlight-color);
    z-index: -1;
    width: 8px;
}

.modifier-tag,
.tag-name {
    display: inline-block;
    white-space: nowrap;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    font-variant: normal;
    font-style: normal;
    color: var(--semantic-blue);

    height: 22px;

    margin-left: 0;
    margin-right: 16px;

    padding-left: 10px;
    padding-right: 10px;
    padding-top: 1px;
    padding-bottom: 1px;

    vertical-align: text-bottom;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;

    border: 1px solid var(--semantic-blue);
    border-radius: 3px;

    background: transparent;

    min-width: 90px;
    text-align: center;

    vertical-align: middle;
}

// Used for "Implemented by:", "Extends:", etc...
.class-label {
    color: var(--text-color);
    font-weight: 700;
    margin-right: 0.25em;
}

.modifier-tag + .modifier-tag {
    margin-left: 16px;
}

.red.modifier-tag {
    color: var(--semantic-red);
    border-color: var(--semantic-red);
}

.orange.modifier-tag {
    color: var(--semantic-orange);
    border-color: var(--semantic-orange);
}
// A block above a method or property name, at the very
// top of a card section, that groups a series of flags
// such as "exported", "protected", "private", etc...
// (can also be displayed inline as span.flags for classCard)
div.flags {
    margin-bottom: 10px;
}

.page__content .notice--info h4,
.page__content .notice--warning h4,
.page__content .notice--danger h4 {
    font-size: $h4-font-size;
    letter-spacing: -0.5px;
    text-transform: uppercase;
}

.page__content .notice--info code,
.page__content .notice--warning code,
.page__content .notice--danger code {
    background: inherit;
}

.page__content .notice--danger h4 {
    color: var(--semantic-red);
}

.deprecated {
    text-decoration: line-through;
}

// The name of a referenced type, e.g.
// `Bar` in `type Foo = Bar`
.reference,
.typeParameter {
    font-weight: 700;
    color: var(--base-02);  // base-05 on dark
}

// For a string, in quotes
.string-literal {
    color: $lime-600;
}

// Punctuation signs, "=", "|", ":".
// For example "type foo = number"
.punctuation {
    color: var(--base-02); // $indigo-400;
    font-weight: 700;
}

// For "string", "number", "void", "typeof", etc...
.keyword {
    color: $indigo-400; // $purple-500;
}

// The "?" symbol to indicate optional arguments
// The '...' string to indicate 'rest' arguments
.modifier {
    color: var(--base-0c);// $magenta-400;
    font-weight: 700;
}

 
// Name of properties, member functions
.card h3 strong, var {
  color: var(--base-02);
  font-weight: 400;
  font-style: italic;
}

// For {...} blocks (unions, intersections)
ul.type-block {
    list-style: none;
    margin: 0;
}
ul.type-block li {
    margin: 0;
    margin-left: 1em;
}

div.highlighter-rouge,
figure.highlight {
    border-radius: 8px;
}

// @media (min-width: $small) {
//     body {
//         background: rgb(255, 223, 211);
//     }
// }
// @media (min-width: $medium) {
//     body {
//         background: rgb(254, 200, 216);
//     }
// }

// @media (min-width: $large) {
//     body {
//         background: rgb(224, 187, 228);
//     }
// }

@media (min-width: $medium) {
    .page {
        padding-right: 0;
    }
}

// @media (min-width: $large) {
//     .sidebar {
//         width: #{$right-sidebar-width};
//     }
//     .page {
//         width: calc(100% - #{$right-sidebar-width});
//         padding-right: 0;
//     }
// }

.card.list h3 {
    font-weight: 900;
}

.card.list ul {
    column-count: 2;
    padding: 18px 0 18px 18px;
    margin: 0;
}

.card.list ul li {
    margin-top: 0;
}


@media (prefers-color-scheme: dark) {
  .card h3 strong, var {
    color: var(--base-05);
  }  

  .reference,
  .typeParameter {
      color: var(--base-05);
  }

  .punctuation {
    color: var(--base-05); // $indigo-400;
}


.keyword {
  color: var(--base-0e); // $purple-500;
}

.string-literal {
  color: var(--base-0b);// $gray-400;
}
}
