
/* Import Berkeley Mono font */
@font-face {
  font-family: 'Berkeley Mono';
  src: url('/static/fonts/berkeley-mono/BerkeleyMono-Regular.woff2') format('WOFF2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Berkeley Mono';
  src: url('/static/fonts/berkeley-mono/BerkeleyMono-Bold.woff2') format('WOFF2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Berkeley Mono';
  src: url('/static/fonts/berkeley-mono/BerkeleyMono-Italic.woff2') format('WOFF2');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Berkeley Mono';
  src: url('/static/fonts/berkeley-mono/BerkeleyMono-BoldItalic.woff2') format('WOFF2');
  font-weight: bold;
  font-style: italic;
}

:root {
  --monospace-font-family: 'Berkeley Mono', 'JetBrains Mono', 'IBM Plex Mono', 'Fira Code', monospace;
  --monospace-font: var(--monospace-font-family);
  --body-font-family: Inter, "Source Sans Pro", "IBM Plex Sans", sans-serif;
  --body-font-settings: "calt", "tnum", "ss01", "ss03";  /* For Inter font, see https://rsms.me/inter/#variable */
  --display-font-family: Inter, "Source Sans Pro", "IBM Plex Sans", sans-serif;
  --display-font-settings: "calt", "tnum", "ss01", "ss03";  /* For Inter font, see https://rsms.me/inter/#variable */
  --ui-font-family: Inter,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  --ui-font: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}


body {
  font-feature-settings: var(--body-font-settings);
}





.markdown > h2 {
  --ifm-h2-font-size: 1.562rem;
  color: var(--primary-color);
  text-wrap: balance;
}

:root[data-theme="dark"] .markdown > h2 {
  color: var(--blue-300);
}

.markdown > h3 {
  --ifm-h3-font-size: 1.25rem;
  font-weight: 600;
  color: var(--primary-color);
  text-wrap: balance;
}

:root[data-theme="dark"] .markdown > h3 {
  color: var(--blue-300);
}


.markdown h1:first-child {
  --ifm-h1-font-size: 4rem;
  --ifm-heading-line-height: 1;
  --ifm-heading-font-weight: 700;

  text-wrap: balance;
  letter-spacing: -3px;
}