.intro {
  font-size: 1.5rem;
  color: var(--blue-800);
  font-weight: 600;
  line-height: 1.1;
  padding-block: 1em;
}

:root[data-theme="dark"] .intro {
  color: var(--blue-400);
}

.intro a {
  text-decoration: underline;
}