/* base16-default-dark */
/* tomorrow */
/* tomorrow-night */
/*

    Name:       Base16 Tomorrow Dark
    Author:     Chris Kempson (http://chriskempson.com)

    highlight.js v8.0 template by Jan T. Sott (https://github.com/idleberg/base16-highlight.js)
    Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/
/* Tomorrow Comment */
.hljs-comment {
  color: var(--base-04, #b4b7b4);
}

/* Function (JS) and tag (HTML) names */
.hljs-tag, .hljs-title {
  color: var(--base-0a, #f0c674);
}

/* Tomorrow Red */
.hljs-variable,
.hljs-attribute,
.hljs-regexp,
.ruby .hljs-constant,
.xml .hljs-tag .hljs-title,
.xml .hljs-pi,
.xml .hljs-doctype,
.html .hljs-doctype,
.css .hljs-id,
.css .hljs-class,
.css .hljs-pseudo {
  color: var(--base-0c, #cc6666);
}

/* Tomorrow Orange */
.hljs-number,
.hljs-preprocessor,
.hljs-built_in,
.hljs-literal,
.hljs-params,
.hljs-constant {
  color: var(--base-09, #ec9c65);
  font-weight: normal;
}

/* Tomorrow Yellow */
.ruby .hljs-class .hljs-title,
.css .hljs-rules .hljs-attribute {
  color: var(--base-0a, #f0c674);
}

/* Tomorrow Green */
.hljs-string,
.hljs-value,
.hljs-inheritance,
.hljs-header,
.ruby .hljs-symbol,
.xml .hljs-cdata {
  color: var(--base-0b, #b5bd68);
}

/* Tomorrow Aqua */
.css .hljs-hexcolor {
  color: var(--base-08, #8abeb7);
}

/* Tomorrow Blue */
.hljs-function,
.python .hljs-decorator,
.python .hljs-title,
.ruby .hljs-function .hljs-title,
.ruby .hljs-title .hljs-keyword,
.perl .hljs-sub,
.javascript .hljs-title,
.coffeescript .hljs-title {
  color: var(--base-0d, #81a2be);
  font-weight: bold;
}

/* Tomorrow Purple */
.hljs-keyword,
.javascript .hljs-function {
  color: var(--base-0e, #b294bb);
  font-weight: bold;
}

.hljs {
  display: block;
  background: var(--base-00, #35434e);
  color: var(--base-05, #c5c8c6);
  padding: 0.5em;
}

.coffeescript .javascript,
.javascript .xml,
.tex .hljs-formula,
.xml .javascript,
.xml .vbscript,
.xml .css,
.xml .hljs-cdata {
  opacity: 0.5;
}

.highlight .c1,
.highlight .cm {
  font-style: italic;
}

.highlight .k,
.highlight .kc,
.highlight .kd,
.highlight .kn,
.highlight .kp,
.highlight .kr,
.highlight .kt,
.highlight .kv {
  font-weight: bold;
}

code-playground {
  font-size: 1em;
}

code-playground::part(editor):hover {
  transform: scale(1.007);
}

code-playground::part(editor):focus-within {
  transform: scale(1.007);
  border-color: #fff;
  outline: -webkit-focus-ring-color solid 2px;
}

code-playground::part(editor) {
  position: relative;
  border: 3px solid transparent;
  --base-00: var(--console-background, var(--blue-900));
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.3) 0%, transparent 50%, rgba(0, 0, 0, 0.4) 100%);
  color: var(--console-color) !important;
  text-shadow: 0 0 5px rgba(200, 200, 200, 0.4392156863);
  box-shadow: inset 1px 1px 15px #000;
  border-radius: 8px;
  font-size: 1.1rem;
  line-height: 1.4;
}

code-playground::part(console) {
  position: relative;
  --base-00: var(--console-background, var(--blue-900));
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.3) 0%, transparent 50%, rgba(0, 0, 0, 0.4) 100%);
  font-size: 1.1rem;
  line-height: 1.4;
}

code-playground::part(editor)::selection,
code-playground::part(editor) *::selection,
code-playground::part(console)::selection,
code-playground::part(console) *::selection {
  --selection-background: var(--semantic-blue, #0066ce);
  --selection-color: var(--semantic-orange);
}

code-playground::part(editor)::after,
code-playground::part(console)::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: repeating-linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) 1px, transparent 1px, transparent 2px);
  pointer-events: none;
}

/* base16-default-dark */
/* tomorrow */
/* tomorrow-night */
/*

    Name:       Base16 Tomorrow Dark
    Author:     Chris Kempson (http://chriskempson.com)

    highlight.js v8.0 template by Jan T. Sott (https://github.com/idleberg/base16-highlight.js)
    Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/
/* Tomorrow Comment */
.hljs-comment {
  color: var(--base-04, #b4b7b4);
}

/* Function (JS) and tag (HTML) names */
.hljs-tag, .hljs-title {
  color: var(--base-0a, #f0c674);
}

/* Tomorrow Red */
.hljs-variable,
.hljs-attribute,
.hljs-regexp,
.ruby .hljs-constant,
.xml .hljs-tag .hljs-title,
.xml .hljs-pi,
.xml .hljs-doctype,
.html .hljs-doctype,
.css .hljs-id,
.css .hljs-class,
.css .hljs-pseudo {
  color: var(--base-0c, #cc6666);
}

/* Tomorrow Orange */
.hljs-number,
.hljs-preprocessor,
.hljs-built_in,
.hljs-literal,
.hljs-params,
.hljs-constant {
  color: var(--base-09, #ec9c65);
  font-weight: normal;
}

/* Tomorrow Yellow */
.ruby .hljs-class .hljs-title,
.css .hljs-rules .hljs-attribute {
  color: var(--base-0a, #f0c674);
}

/* Tomorrow Green */
.hljs-string,
.hljs-value,
.hljs-inheritance,
.hljs-header,
.ruby .hljs-symbol,
.xml .hljs-cdata {
  color: var(--base-0b, #b5bd68);
}

/* Tomorrow Aqua */
.css .hljs-hexcolor {
  color: var(--base-08, #8abeb7);
}

/* Tomorrow Blue */
.hljs-function,
.python .hljs-decorator,
.python .hljs-title,
.ruby .hljs-function .hljs-title,
.ruby .hljs-title .hljs-keyword,
.perl .hljs-sub,
.javascript .hljs-title,
.coffeescript .hljs-title {
  color: var(--base-0d, #81a2be);
  font-weight: bold;
}

/* Tomorrow Purple */
.hljs-keyword,
.javascript .hljs-function {
  color: var(--base-0e, #b294bb);
  font-weight: bold;
}

.hljs {
  display: block;
  background: var(--base-00, #35434e);
  color: var(--base-05, #c5c8c6);
  padding: 0.5em;
}

.coffeescript .javascript,
.javascript .xml,
.tex .hljs-formula,
.xml .javascript,
.xml .vbscript,
.xml .css,
.xml .hljs-cdata {
  opacity: 0.5;
}

.highlight .c1,
.highlight .cm {
  font-style: italic;
}

.highlight .k,
.highlight .kc,
.highlight .kd,
.highlight .kn,
.highlight .kp,
.highlight .kr,
.highlight .kt,
.highlight .kv {
  font-weight: bold;
}

code-playground {
  font-size: 1em;
}

code-playground::part(editor):hover {
  transform: scale(1.007);
}

code-playground::part(editor):focus-within {
  transform: scale(1.007);
  border-color: #fff;
  outline: -webkit-focus-ring-color solid 2px;
}

code-playground::part(editor) {
  position: relative;
  border: 3px solid transparent;
  --base-00: var(--console-background, var(--blue-900));
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.3) 0%, transparent 50%, rgba(0, 0, 0, 0.4) 100%);
  color: var(--console-color) !important;
  text-shadow: 0 0 5px rgba(200, 200, 200, 0.4392156863);
  box-shadow: inset 1px 1px 15px #000;
  border-radius: 8px;
  font-size: 1.1rem;
  line-height: 1.4;
}

code-playground::part(console) {
  position: relative;
  --base-00: var(--console-background, var(--blue-900));
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.3) 0%, transparent 50%, rgba(0, 0, 0, 0.4) 100%);
  font-size: 1.1rem;
  line-height: 1.4;
}

code-playground::part(editor)::selection,
code-playground::part(editor) *::selection,
code-playground::part(console)::selection,
code-playground::part(console) *::selection {
  --selection-background: var(--semantic-blue, #0066ce);
  --selection-color: var(--semantic-orange);
}

code-playground::part(editor)::after,
code-playground::part(console)::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: repeating-linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) 1px, transparent 1px, transparent 2px);
  pointer-events: none;
}

@font-face {
  font-family: "Berkeley Mono";
  src: url("../berkeley-mono/BerkeleyMono-Regular.woff2") format("WOFF2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Berkeley Mono";
  src: url("../berkeley-mono/BerkeleyMono-Bold.woff2") format("WOFF2");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Berkeley Mono";
  src: url("../berkeley-mono/BerkeleyMono-Italic.woff2") format("WOFF2");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Berkeley Mono";
  src: url("../berkeley-mono/BerkeleyMono-BoldItalic.woff2") format("WOFF2");
  font-weight: bold;
  font-style: italic;
}
:root {
  --monospace-font-family: "Berkeley Mono", "JetBrains Mono", "IBM Plex Mono", "Fira Code", monospace;
  --monospace-font: var(--monospace-font-family);
  --body-font-family: "Source Sans Pro", "IBM Plex Sans", sans-serif;
  --display-font-family: "Source Sans Pro", "IBM Plex Sans", sans-serif;
  --ui-font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  --ui-font: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  --primary-color: #0c6abe;
  --primary-color-dark: #0b5c9c;
  --primary-color-light: #0d80f2;
  --link-color: #0c6abe;
  --link-color-visited: #0b5c9c;
  --link-color-hover: #0d80f2;
  --callout-background: #e6f0fa;
  --callout-shadow: 0 1px 1px rgba(0, 102, 206, 0.25);
  --callout-border-color: rgba(0, 102, 206, 0.25);
  --callout-border-color-hover: #0c6abe;
  --highlight-color: hsla(49, 100%, 63%, 0.56);
  --text-color: #302e33;
  --strong-color: #0c6abe;
  --muted-text-color: rgba(59, 58, 63, 0.5);
  --table-thin-line-color: hsl(225, 18%, 92%);
  --table-thick-line-color: #3b3a3f;
  --placeholder-color: #0c6abe;
  --placeholder-opacity: 1.0;
  --card-background: hsl(225, 18%, 97%);
  --card-background-alternate: hsl(240, 6%, 72%);
  --card-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  --page-background: hsl(225, 18%, 97%);
  --content-background: #fcfcfc;
  --content-border-color: #e9e9f9;
  --ui-background: #fff;
  --ui-background-hover: rgba(231, 233, 238, 0.7);
  --ui-border: 1px solid hsl(240, 12%, 85%);
  --ui-border-focus: solid 1px hsl(225, 18%, 97%);
  --ui-focus-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302),
             0 2px 6px 2px rgba(60, 64, 67, 0.149);
  --ui-divider: .5px solid #3334;
  --border-color: hsl(225, 18%, 92%);
  --code-background: rgba(231, 233, 238, 0.2);
  --code-border: 1px solid hsl(240, 12%, 85%);
  --masthead-background: #fff;
  --masthead-border: 1px solid hsl(225, 18%, 92%);
  --masthead-text-color: #3b3a3f;
  --masthead-link-color: #3b3a3f;
  --masthead-link-color-hover: var(--link-color-hover);
  --masthead-link-color-active: var(--primary-color);
  --semantic-blue: var(--blue-700);
  --semantic-red: var(--red-400);
  --semantic-orange: var(--orange-400);
  --semantic-green: var(--green-700);
  --base-00: #35434e;
  --base-01: #282a2e;
  --base-02: #373b41;
  --base-03: #969896;
  --base-04: #b4b7b4;
  --base-05: #c5c8c6;
  --base-06: #e0e0e0;
  --base-07: #ffffff;
  --base-08: #cc6666;
  --base-09: #f5871f;
  --base-0a: #f0c674;
  --base-0b: var(--green-300);
  --base-0c: #8abeb7;
  --base-0d: #81a2be;
  --base-0e: #b294bb;
  --base-0f: #a3685a;
  --base-red: var(--base-08);
  --base-yellow: var(--base-0a);
  --base-blue: var(--base-0d);
  --base-green: var(--base-0b);
  --console-background: var(--blue-900);
  --console-color: var(--blue-50);
  --red-50: #fde4e2;
  --red-100: #fbbbb6;
  --red-200: #f98e86;
  --red-300: #f66056;
  --red-400: #f43e31;
  --red-500: #f21c0d;
  --red-600: #e5190c;
  --red-700: #d7170b;
  --red-800: #c6130a;
  --red-900: #ab0e08;
  --orange-50: #fff3e7;
  --orange-100: #ffe0c2;
  --orange-200: #fc9;
  --orange-300: #ffb870;
  --orange-400: #ffa852;
  --orange-500: #f93;
  --orange-600: #fe8a2b;
  --orange-700: #fd7b24;
  --orange-800: #fc671a;
  --orange-900: #f9480a;
  --brown-50: #f0ede9;
  --brown-100: #dad2c8;
  --brown-200: #c2b5a3;
  --brown-300: #aa977e;
  --brown-400: #978063;
  --brown-500: #856a47;
  --brown-600: #816343;
  --brown-700: #7d5c3f;
  --brown-800: #78533a;
  --brown-900: #6f4431;
  --yellow-50: #fff9e7;
  --yellow-100: #fff1c2;
  --yellow-200: #ffe799;
  --yellow-300: #ffdd70;
  --yellow-400: #ffd652;
  --yellow-500: #ffcf33;
  --yellow-600: #ffc02b;
  --yellow-700: #ffb224;
  --yellow-800: #ff9f1a;
  --yellow-900: #ff810a;
  --lime-50: #ecf6e3;
  --lime-100: #d0e8b9;
  --lime-200: #b1d98a;
  --lime-300: #92c95b;
  --lime-400: #7abe38;
  --lime-500: #63b215;
  --lime-600: #5ba612;
  --lime-700: #54990f;
  --lime-800: #4a890b;
  --lime-900: #3a7005;
  --green-50: #e4f7e7;
  --green-100: #bceac4;
  --green-200: #90dd9d;
  --green-300: #64cf75;
  --green-400: #42c458;
  --green-500: #21ba3a;
  --green-600: #1da736;
  --green-700: #199533;
  --green-800: #137c2e;
  --green-900: #0b5726;
  --teal-50: #e3f9f9;
  --teal-100: #b9f1f1;
  --teal-200: #8be7e7;
  --teal-300: #5ddddd;
  --teal-400: #3ad6d6;
  --teal-500: #17cfcf;
  --teal-600: #14b7b7;
  --teal-700: #129f9f;
  --teal-800: #0e7f7f;
  --teal-900: #094e4e;
  --cyan-50: #e3f4fd;
  --cyan-100: #b8e5f9;
  --cyan-200: #89d3f6;
  --cyan-300: #5ac1f2;
  --cyan-400: #36b4ef;
  --cyan-500: #13a7ec;
  --cyan-600: #1197d3;
  --cyan-700: #1088ba;
  --cyan-800: #0e7398;
  --cyan-900: #0a5366;
  --blue-50: #e2f0fd;
  --blue-100: #b6d9fb;
  --blue-200: #86c0f9;
  --blue-300: #56a6f6;
  --blue-400: #3193f4;
  --blue-500: #0d80f2;
  --blue-600: #0c75d8;
  --blue-700: #0c6abe;
  --blue-800: #0b5c9c;
  --blue-900: #094668;
  --indigo-50: #ede7f9;
  --indigo-100: #d1c2f0;
  --indigo-200: #b399e6;
  --indigo-300: #9470db;
  --indigo-400: #7d52d4;
  --indigo-500: #63c;
  --indigo-600: #5b2fb6;
  --indigo-700: #502b9f;
  --indigo-800: #422581;
  --indigo-900: #2c1d54;
  --purple-50: #f4e3fc;
  --purple-100: #e3baf8;
  --purple-200: #d18cf3;
  --purple-300: #be5eee;
  --purple-400: #b03cea;
  --purple-500: #a219e6;
  --purple-600: #9118cd;
  --purple-700: #8116b3;
  --purple-800: #6b1492;
  --purple-900: #49115f;
  --magenta-50: #fde9f3;
  --magenta-100: #f9c8e0;
  --magenta-200: #f5a3cc;
  --magenta-300: #f17eb8;
  --magenta-400: #ee63a8;
  --magenta-500: #eb4799;
  --magenta-600: #d83f88;
  --magenta-700: #c53777;
  --magenta-800: #ac2d60;
  --magenta-900: #861d3d;
}

@media (prefers-color-scheme: dark) {
  :root {
    --console-background: var(--base-00);
    --primary-color: hsl(210, 80%, 40%);
    --primary-color-dark: hsl(210, 80%, 30%);
    --primary-color-light: hsl(210, 80%, 60%);
    --link-color: #86c0f9;
    --link-color-hover: #b6d9fb;
    --link-color-visited: #3193f4;
    --callout-background: #183854;
    --callout-shadow: 0 1px 1px rgba(25, 50, 50, 0.25);
    --callout-border-color: rgba(0, 102, 206, 0.25);
    --callout-border-color-hover: hsl(210, 80%, 40%);
    --highlight-color: hsla(49, 100%, 63%, 0.7);
    --text-color: hsl(225, 18%, 92%);
    --strong-color: #86c0f9;
    --muted-text-color: rgba(246, 247, 249, 0.5);
    --text-color-dimmed: #999;
    --table-thin-line-color: #444;
    --table-thick-line-color: #555;
    --placeholder-color: #9aa0a6;
    --page-background: #131416;
    --content-background: #262627;
    --content-border-color: #393939;
    --card-background: rgba(59, 58, 63, 0.5);
    --card-background--alternate: #302e33;
    --ui-background: rgba(59, 58, 63, 0.7);
    --ui-background-hover: #3b3a3f;
    --ui-border: .5px solid hsl(255, 3%, 30%);
    --ui-border-focus: .5px solid #818384;
    --ui-focus-shadow: none;
    --border-color: #3b3a3f;
    --code-background: rgba(48, 46, 51, 0.25);
    --code-border: 1px solid #3b3a3f;
    --masthead-background: #302e33;
    --masthead-border: 1px solid #262627;
    --masthead-text-color: hsl(240, 12%, 85%);
    --masthead-link-color: hsl(240, 12%, 85%);
    --masthead-link-color-hover: var(--link-color-hover);
    --masthead-link-color-active: hsl(210, 80%, 55%);
    --semantic-blue: #0c6abe;
    --semantic-red: #f43e31;
    --semantic-orange: #ffa852;
    --semantic-green: #199533;
  }
}
/* Colors */
.page__content .notice,
.page__content .notice--primary,
.page__content .notice--info,
.page__content .notice--warning,
.page__content .notice--success,
.page__content .notice--danger {
  color: #333;
}

.page__footer {
  color: #fff !important;
}

.page__footer-follow .social-icons .svg-inline--fa {
  color: inherit;
}

/*# sourceMappingURL=astra.css.map */
