$monospace: 'IBM Plex Mono', 'Fira Code', monospace !default;
$sans-serif: 'Source Sans Pro', sans-serif !default;
$sans-serif-condensed: 'Source Sans Pro', sans-serif !default;

$body-font-size: 16px;
$code-font-size: 13px;
$h1-font-size: 36px;
$h2-font-size: 28px;
$h3-font-size: 22px;
$h4-font-size: 18px;
$h5-font-size: 16px;
$subheading-font-size: 11px;

$primary-color: #0066ce;
$primary-color-dark: hsl(210, 100%, 30%);
$primary-color-light: hsl(210, 100%, 60%);
$secondary: #999;
$primary: $primary-color;
// $body-color: #5c5050;

$celery-400: rgb(68, 181, 86);
$celery-500: rgb(75, 195, 95);
$celery-600: rgb(81, 210, 103);
$celery-700: rgb(88, 224, 111);
$chartreuse-400: rgb(133, 208, 68);
$chartreuse-500: rgb(142, 222, 73);
$chartreuse-600: rgb(155, 236, 84);
$chartreuse-700: rgb(163, 248, 88);
$yellow-400: rgb(223, 191, 0);
$yellow-500: rgb(237, 204, 0);
$yellow-600: rgb(250, 217, 0);
$yellow-700: rgb(255, 226, 46);
$magenta-400: rgb(216, 55, 144);
$magenta-500: rgb(226, 73, 157);
$magenta-600: rgb(236, 90, 170);
$magenta-700: rgb(245, 107, 183);
$fuchsia-400: rgb(192, 56, 204);
$fuchsia-500: rgb(207, 62, 220);
$fuchsia-600: rgb(217, 81, 229);
$fuchsia-700: rgb(227, 102, 239);
$purple-400: rgb(146, 86, 217);
$purple-500: rgb(157, 100, 225);
$purple-600: rgb(168, 115, 233);
$purple-700: rgb(180, 131, 240);
$indigo-400: rgb(103, 103, 236);
$indigo-500: rgb(117, 117, 241);
$indigo-600: rgb(130, 130, 246);
$indigo-700: rgb(144, 144, 250);
$seafoam-400: rgb(27, 149, 154);
$seafoam-500: rgb(32, 163, 168);
$seafoam-600: rgb(35, 178, 184);
$seafoam-700: rgb(38, 192, 199);
$red-400: rgb(227, 72, 80);
$red-500: rgb(236, 91, 98);
$red-600: rgb(247, 109, 116);
$red-700: rgb(255, 123, 130);
$orange-400: rgb(230, 134, 25);
$orange-500: rgb(242, 148, 35);
$orange-600: rgb(249, 164, 63);
$orange-700: rgb(255, 181, 91);
$green-400: rgb(45, 157, 120);
$green-500: rgb(51, 171, 132);
$green-600: rgb(57, 185, 144);
$green-700: rgb(63, 200, 156);
$blue-400: rgb(38, 128, 235);
$blue-500: rgb(55, 142, 240);
$blue-600: rgb(75, 156, 245);
$blue-700: rgb(90, 169, 250);
$gray-50: rgb(37, 37, 37);
$gray-75: rgb(47, 47, 47);
$gray-100: rgb(50, 50, 50);
$gray-200: rgb(62, 62, 62);
$gray-300: rgb(74, 74, 74);
$gray-400: rgb(90, 90, 90);
$gray-500: rgb(110, 110, 110);
$gray-600: rgb(144, 144, 144);
$gray-700: rgb(185, 185, 185);
$gray-800: rgb(227, 227, 227);
$gray-900: rgb(255, 255, 255);

$card-border: #fff;
$card-background: #fafafa;
$body-color: #333; // 5c5050

$semantic-blue: #0066ce;
$semantic-red: #e34850;
$semantic-orange: #e68619;
$semantic-green: #2d9d78;

:root {
    --primary-color: $primary-color;
    --primary-color-dark: $primary-color-dark;
    --primary-color-light: $primary-color-light;
    --secondary: $seconday;
    --primary: $primary-color;
}
