.live-code {
    display: flex;
    flex-flow: row;
    width: 100%;
    margin-left: 2em;
    margin-right: 2em;
    justify-content: center;
    align-items: center;
}

.live-code .source {
    margin-top: 1em;
    width: calc(50% - 6em);
}

.live-code .output {
    width: calc(50% - 6em);
    margin-left: 2em;
}

.tabs {
  position: relative;   
  display: flex;
  flex-flow: row;
  min-height: 200px;
  clear: both;
}
.tab {
  min-width: 150px;
}
.tab label {
  position: absolute;
  width: 150px;
  padding-top: 8px;
  padding-bottom: 6px;
  font-weight: 900;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
}
.tab [type=radio] {
  display: none;   
}
.content {
  position: absolute;
  top: 28px;
  left: 0;
  right: 0;
  bottom: 0;
}
[type=radio]:checked ~ label {
  background: white;
  color: $primary;
  border-bottom: 2px solid $primary;
  z-index: 2;
}
[type=radio]:checked ~ label ~ .content {
  z-index: 1;
}



.mathfield {
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 4px;
    background: #fff;
}

@media (max-width: 1024px) { 
    .live-code {
        flex-flow: column;
    }
    .live-code .source, .live-code .output {
        width: calc(100% - 2em);
        margin-left: .5em;
        margin-right: .5em;
        margin-top: .5em;
        margin-bottom: .5em;
    }
}