/* Error: Undefined variable.
 *     ,
 * 113 |     background-color: mix(#000, $blue-700, 80%);
 *     |                                 ^^^^^^^^^
 *     '
 *   src/_sass/imports/minimal-mistakes/_notices.scss 113:33  @import
 *   src/_sass/imports/minimal-mistakes.scss 28:9             root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a     \2577 \a 113 \2502      background-color: mix(#000, $blue-700, 80%);\a     \2502                                  ^^^^^^^^^\a     \2575 \a   src/_sass/imports/minimal-mistakes/_notices.scss 113:33  @import\a   src/_sass/imports/minimal-mistakes.scss 28:9             root stylesheet";
}
