
// Overrides

.greedy-nav a.site-title {
  padding: 0 8px;
  font-size: 32px;
  line-height: 1;
  margin-left: 0;
  margin-right: 0;
  font-family: var(--display-font);
  font-weight: 900;
  color: var(--blue-800);
  @media (prefers-color-scheme: dark) {
    color: var(--blue-50);
  }
}

.site-title em {
    font-weight: 200;
    font-style: normal;
}

.greedy-nav .visible-links a:before {
    background: none;
}


.masthead__menu-item {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
}

.masthead__menu-item.active a {
  color: var(--masthead-link-color-active);
}

.masthead__menu-item.separator {
  width: 1em;
  border-right: var(--ui-divider);
  margin-right: 1em;
}

.greedy-nav .visible-links li.separator:hover {
  background: transparent;
  cursor: default;
}

pre {
    margin-bottom: 1em;
    padding: 1em;
    font-size: 14px;
    border-radius: 8px;
    background: var(--console-background);
    color: var(--console-color);
}

