
// Overrides

.site-title {
    font-family: $display-font;
    font-weight: 900;
}

.site-title em {
    font-weight: 100;
    font-style: normal;
}

.greedy-nav .visible-links a:before {
    background: none;
}

.greedy-nav a:hover {
    color: var(--primary-color);
}

.masthead__menu-item {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
}

.masthead__menu-item.active a {
  color: var(--primary-color);
}

.masthead__menu-item.separator {
  width: 1em;
  border-right: 1px solid #ddd;
  margin-right: 1em;
}

.greedy-nav .visible-links li.separator:hover {
  background: transparent;
  cursor: default;
}

pre {
    margin-bottom: 1em;
    padding: 1em;
    font-size: .8em;
    border-radius: 8px;
    background: #35434e;
    color: #dadada;
}
