
// .pill-list {
// }


// table {
//   width: 100;
//   margin-bottom: 3em;
//   font-size: 14px;
//   word-wrap: normal;
//   table-layout: fixed;
//   display: table;
//   overflow: hidden;
//   overflow-x: auto;
//   border-collapse: collapse;
//   border-spacing: 0;
//   line-height: 1.47059;

//   thead {
//     tr {
//       border-bottom: 1px solid #333;
//       th {
//         font-weight: 600;
//         color: #333;
//         padding: 3px 1em 3px 0;
//         vertical-align: bottom;
//         text-align: left;
//       }
//     }
//   }
  
//   tr {
//     border-bottom: 1px solid #e6e6e6;
//     td {
//       color: #666;
//       line-height: 1.5em;
//       padding: .5em 1em .5em 0;
//       vertical-align: top;
//     }
//   }
// }

// List of symbols: Narrow first column
.symbols-table table {
  table-layout: auto;
  tr td:first-child {
    min-width: var(--first-col-width, 15ex);
  }


  // Used by the list of dictionaries table (in the intro page and elsewhere)
  tr td:first-child a {
    display: block;
    text-decoration: none;
    border: 2px solid var(--primary-color);
    border-radius: 4px;
    padding: 0 8px 0 8px;
    margin: 0 8px 0 8px;

    font-weight: 600;

    &:hover {
      text-decoration: none;
      background: var(--link-color);
      color: #fff;
    }

  }
}

.first-column-header table thead tr th:first-child {
  background: var(--callout-background);
  padding-left: 0.5em;
}

.first-column-header table thead tr th:nth-child(2) {
  padding-left: 0.5em;
}

.first-column-header table tr td:first-child {
  background: var(--callout-background);
  padding-left: 0.5em;
}

.first-column-header table tr td:nth-child(2) {
  padding-left: 0.5em;
}


.equal-width-columns table {
  table-layout: fixed;
  th {
    width: 1%;
  }
}